*
div
p
	margin 0
	padding 0
	/*font-family 'Gotham Medium'*/
body
html
	size 100%
/* =========================== ESTILO GENERAL */
h1
	text-align center
	font-size: 17px;
h2
	text-align center
	font-weight bold
	font-size 18px
.sub
	color #3CB8CE
	font-style italic 
.bold
	font-weight bold
.rojo
	color #BF3F27
.azul
	color #28ADE3
.gris
	color #807F7F
.italic
	font-style italic
.center
	text-align center
.espacio
	padding-left 50px
.border
	border-top: 1px solid #A7AAAA;
	margin: auto;
	width: 80%;
	padding: 20px;
	margin-top: 20px 20px 0px;
.grande
	color #3AADC1
	font-size 32px !important
	text-align center
	font-weight bold
	padding-top 20px
	margin-bottom: 10px;
/* =========================== NSE */
div.content-NSE 
	.container.NSE
		div
			div
				h1:first-child
					margin-top 10px
				p.p 
					margin-left: 20px;
					font-size: 20px;
					.p_chiquita
						font-size 14px
						margin-left: 30px;
				p.normal
					font-size 17px
					text-align: center;
					margin: 0px;
				p.filtro
					margin 0
					text-align center
					font-size 18px
				img.igual
					margin: auto
					display block
					padding 10px
				p.verdadero
					font-size 17px
				li.li
						font-size 17px
						margin-top 20px
				.sueldo
					margin-left 37px
					font-size 18px
					margin-top 20px
				img.piramide
					width 230px
					display block
					margin auto
					padding-top 20px
				p.texto
					width: 80%;
					margin: auto;
					font-size: 14px;
					font-weight: 500;
				p.texto.dos
					font-weight 200
				div.line
					border-top: solid 1px #3cb8ce;
					width: 50px;
					margin: 20px auto;
				h3
					text-align center
					font-weight 200 
					font-size: 18px;		
				img.puertas 
					width: 100%
/* =========================== HISTORIAS DE VIDA */
div.content-Historias-vida
	.container.historias_vida
		div
			div
				div.row
					p
						padding-top: 55px;
						font-weight: bold;
						span.porcentaje
							font-size 50px
							margin-left: 20px;
					img.uno
						width 100%
						margin-left: -30px;
				img
					margin: auto
					display block
					padding 10px
				div.row
					img.chica
						width: 100px;
						margin: 10px 0px;
					ul
						margin-left: 40px;
						font-size: 16px
						padding-bottom: 20px;
						list-style: inherit;
						li 
							margin-bottom: 10px;
					img.chica2
						width 125px
						display block
						margin: 10px -50px;
				ul
					list-style: inherit;
					width: 80%;
					margin: auto;
					li 
						padding-bottom 10px

				img.dos
					width: 100%;
					margin-left: 20px;
/* =========================== Estado Civil y Educación */
div.content-C_estado_civil
	.container.estado_civil
		div
			div
				h1.subCatego 
					text-align center
				div
					padding-bottom 10px
					p 
						text-align center 
						font-size 17px
				div.border.yellow
					border-top 1px solid #FBDC44
					margin-top 10px	
					p.spacing 
						text-align center
						font-size 22px
						font-weight bold
						letter-spacing: 5px;
						color #807F7F
					div.col-50.fle
						position relative
						p.vive
							margin-left -75px
							margin-top: 5px;
						span.azul.nueve
							font-size 20px;
							font-weight bold
						img.flecha
							position absolute
							top: -5px;
							left: 50px;
				div.border-un
					border-top 1px solid #FBDC44
					width 80%
					margin: auto;
					p.un
						color #807F7F
						font-size 26px
						font-weight bold
						margin-top: 15px;
					p.grande.ocho
						text-align left
						margin-left: 15px;
					p.sod
						margin-left: -45px;
						text-align: left;
						font-size: 23px;
						font-weight: 200;
				p.est
					font-style italic
					font-size 20px
					border-top 1px solid #FBDC44
					padding-top 20px
					width 80%
					display block
					margin auto
					text-align center
				ul
					margin auto
					width 200px
					margin-top 10px
					li
						padding-top 10px
				p.ext
					text-align center
					font-weight bold
					font-style italic
					margin-top 20px
				img.grafica
					width 200px
					margin auto
					display: block;
				div.ul-li
					position relative
					ul.porcen
						position absolute
						left: 215px;
						bottom 10px
					ul.porcen2
						position absolute
						left: 230px;
						bottom 10px
/* =========================== DEMOGRÁFICOS Y EDUCACIÓN */
div.content-C_demograficas
	.container.demograficos_edu
		div
			div
				p
					text-align center
					font-size: 16px;
					letter-spacing: 1px;
				p.hijo
					background #E6C11F
					width: 75%;
					margin: auto;
					padding: 10px;
					color: #fff;
					font-weight bold
					font-size 15px
				img.grafica
					width: 85%;
					margin: auto;
					display: block;
				img.dos
					width: 75%;
					margin: auto;
					display: block;
					margin-top 10px
				p.p
					font-size: 19px;
					width: 76%;
					margin: auto;
					line-height: 25px;
					font-weight: 200;
					border-bottom 1px solid #FBDC44
					padding-bottom 15px
					span.seis-tres.bold
						font-size 35px
				p
					span.lettering 
						font-size: 20px;
				p
					span.lettering-dos 
						font-size: 25px;
/* =========================== HOGAR */
div.content-C_hogar
	.container.hogar
		div
			div
				p
					text-align center
					font-size 18px
				p.p
					text-align center
					font-size 20px
					font-weight bold
					font-style italic
					padding-top 20px
				img
					margin: auto;
					display: block;
				p.grande.amarillo
					color #E6C11F
				p.font 
					font-size 25px
				p.left
					text-align: left;
					margin-left: 60px;
					font-weight: 200;
					margin-bottom: 20px;
				p.bold.grande.negro
					line-height: 30px;
					color: #000;
				p.co
					font-weight: 200;
					text-align: left;
					font-size: 23px;
					margin-left: -40px;
					margin-top: 12px;
				div.col
					ul
						margin-left -15px
						margin-top 20px
				div.col-75
					ul
						border-left: 1px solid;
						padding-left: 10px;
						margin-left: 30px;
						border-bottom: 1px solid;
						padding-bottom: 10px;
						margin-bottom: 30px;
						margin-top 20px
/* =========================== OCUPACIONES */
div.content-C_ocupaciones
	.container.ocupaciones
		div
			div
				p.p
					padding-left 65px
					font-size 18px
				div.border-
					border-bottom 1px solid #FBDC44
					border-top 1px solid #FBDC44
					padding-bottom 20px
					margin auto
					margin-top 20px
					width 80%
				p.-p
					padding-left 28px
					font-size 18px
				div.col-50
					position relative
					margin-top 20px
					p.coll
						text-align: center;
						margin-top: 30px;
						font-size: 22px;
						margin-left: -25px;
						img
							position: absolute;
							top: 23px;
							left: 95px;						
					p.sector
						font-size 23px
						font-weight 200
				p.giro
					width: 100px;
					background: #000;
					color: #fff;
					padding: 10px;
					margin-left: 30px;
					margin-top: 10px;
					margin-bottom: 20px;
					font-weight: bold;
					font-style: italic;
				div.col-75
					margin-left 30px
					ul
						color #807F7F
				div.col
					margin-left: -30px;
					ul
						color #28ADE3
						font-weight bold
/* =========================== SERVICIOS BANCARIOS */
div.content-C_bancarios
	.container.bancarios
		div
			div
				p.te.center
					text-align center
					font-size 16px
					padding-top 20px
				div.row
					div.col-75
						margin-left 30px
						ul
							color #807F7F
							li 
								padding-top 10px
					div.col
						margin-left -30px
						ul
							li 
								padding-top 10px
				p
					text-align center
				p.banco 
					font-size 26px
					font-weight: 200;
					margin-bottom 20px
				p.promedio
					border-top 1px solid #FBDC44 
					padding-top: 15px;
					width: 80%;
					margin: auto;
				div.relative
					position relative
					height: 165px;
					p.span
						font-size: 36px;
						line-height: 34px;
						width: 80%;
						padding-top: 10px;
						padding-bottom: 35px;
						border-bottom: 1px solid #FBDC44 
						margin: auto;
						span.ps 
							position absolute
							width 100%
							margin auto
							left 0
							right 0
							top: 110px;
							font-size: 23px;
				div.col-75
					margin-left 30px
					p.pb
						text-align center
				div
					p.op
						font-size: 33px;
						letter-spacing: 2px;
						line-height: 26px;
						font-weight: 200;
						span.bold.f
							font-size: 27px;
							letter-spacing: normal;
				p.grande.borde
					border-top: 1px solid #FBDC44 					
					width 80%
					margin auto
					margin-top 10px
					padding-bottom: 10px;
/* =========================== CONSUMO DE MEDIOS */
div.content-C_medios
	.container.medios 
		div
			div
				p.italic 
					text-align center
				img 
					width 50%
					margin auto
					display: block;
				div
					p
						text-align center
						font-size 16px
						span.bold.p2
							font-size 28px
						span.bold.esp
							font-size 25px
							letter-spacing 4px
						span.servicio
							font-size 25px
				div.top
					border-top 1px solid #FBDC44 
					margin auto
					width 80%
					margin-top 10px
					p.left
						text-align left
						margin-left 20px
				p 
					text-align center
				p.lee 
					font-style italic
					border-top 1px solid #FBDC44 
					margin auto
					width 80%
					margin-top 10px
					padding-top 30px
				p.Portada
					width 80%
					margin auto
					text-align justify
					margin-top 10px
					margin-bottom 30px
				p.sub.back
					background: url("../img/Imagen9.png") no-repeat 0px 0px;
					background-size: cover;
					height: 52px;
					margin-bottom: 21px;
				div.row
					div.col-75
						margin-left 30px
						ul
							li
								padding-bottom 10px
					div.col 
						margin-left -30px		
						ul
							li
								padding-bottom 10px
				div.border.amarillo
					border-top 1px solid #FBDC44 
					p.pp
						font-size: 25px;
						letter-spacing: 2px;
						font-weight: 200;
						line-height: 22px;
/* =========================== INTERNET Y REDES SOCIALES */
div.content-C_internet
	.container.internet
		div
			div
				p.grande
					span.verde 
						font-size 16px
					span.normal
						color #000
						font-weight 200
						font-size 22px
				img
					margin auto
					display block
					margin-top 20px
					margin-bottom 20px
				p.azul.en
					text-align center
					font-size 20px
					margin-top 30px
				div.row
					margin-left 15px
					div.col
						position relative
						margin-right: 225px;
						ul
							li 	
								img
									width 40px
								img.img
									width: 25px;
									margin-left: 8px;
					div.col-50
						margin-left -155px
						ul
							li
								margin-top 38px
								margin-left -25px
					div.col.numeros
						margin-left 40px
						margin-top -5px
						ul
							li
								margin-top 38px
								margin-left -25px
				p
					text-align center
				p.azul
					font-size 20px
				p.grande.negro
					color #000
					letter-spacing 2px
					margin-top -10px
				p.rs
					font-size 25px
					font-weight 200
				p.sub.back
					background: url("../img/Imagen9.png") no-repeat 0px 0px;
					background-size: cover;
					height: 52px;
					margin-top 30px
				div.row
					div.col-50.redesS
						ul
							li 
								margin-top 10px
					div.col.por
						ul
							margin-left -50px
							margin-top -5px
							li 
								margin-top 10px
/* =========================== TELEFONÍA CELULAR */
div.content-C_telefonia
	.container.telefonia
		div
			div
				p.azul
					text-align center
					margin-top 20px
					font-weight bold
				p.azul.y 
							text-align center
							font-weight 200
				div.row
					div.col 
						img
							width 100%
							margin-left 10px
							margin-top 13px
					div.col-50
						ul
							li
								padding-top 10px
					div.col.por
						ul
							li
								padding-top 10px
								margin-left -20px
				div.img
					img
						margin auto
						display block
						border-top: 1px solid #FBDC44 
						margin-top 20px
						padding-top 10px
					p.sub.back
						background: url("../img/Imagen9.png") no-repeat 0px 0px;
						background-size: cover;
						height: 52px;
						margin-top 30px
						text-align center
						padding-top 5px
					div.row
						margin-left 20px
						div.col-75
							ul
								li
									padding-top 10px
						div.col
							ul
								margin-top -5px
								li
									padding-top 10px
/* =========================== TELEFONÍA CELULAR */
div.content-C_tecnologia
	.container.tecnologia
		div
			div
				p
					text-align center
					font-size: 16px;
					font-weight: 200;
					margin: 20px;
				div.row
					margin-left 25px
					div.col 
						ul
							li
								img
									width 70%
					div.col-75
						ul
							li
								padding-top 21.5px
/* =========================== SECRETO #1 */
div.content-secreto_1
	.container.secreto_1
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top -10px
				p.p
					text-align center
					margin-bottom 20px
					letter-spacing 2px
				div
					p.title
						background #000
						padding 10px
						color #fff
						text-align center
						margin auto
						width 53%
					img
						width 155px
						margin auto
						display block
						margin-top 15px
					div
						width 90%
						margin auto
						display block
						p
							font-size: 18px;
							font-weight: 200;
							text-align: -webkit-left;
							margin-bottom: 20px;
							margin-top: 20px;
/* =========================== SECRETO #2 */
div.content-secreto_2
	.container.secreto_2
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top -10px
				div
					h4
						background #49C3D7
						padding 10px
						color #fff
						text-align center
						margin auto
						width 53%
						margin-top 20px
						margin-bottom 20px
					p.gris
						font-size: 20px;
						font-weight: 200;
						letter-spacing: 1px;
						line-height: 25px;
						margin-left 65px
						margin-top: 10px;
					img
						margin auto
						display block
					ul.gris
						color: #807f7f;
						margin-left: 65px;
						font-weight: 200;
						list-style: inherit;
						li
							padding-bottom 10px
					p.ce
						text-align center
						font-weight: 200;
						font-size: 20px;
						margin-top: 15px;
						line-height: 23px;
						color #807F7F
						margin-left 0
					img.img
						width: 185px;
						margin-top: 35px;
						border: 1px solid #FBDC44;
/* =========================== SECRETO #3 */
div.content-secreto_3
	.container.secreto_3
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top -10px
					font-weight bold
				div
					p
						font-weight 200
						padding-top 15px
						width: 200px;
						margin: auto;
					h3.pro
						font-style italic
						margin-left: 20px;
						margin-bottom: -15px;
					h4.h4
						font-style italic
						margin-bottom: -15px;
						margin-left: 20px;
/* =========================== SECRETO #4 */