*,
div,
p {
  margin: 0;
  padding: 0;
/*font-family 'Gotham Medium'*/
}
body,
html {
  size: 100%;
}
/* =========================== ESTILO GENERAL */
h1 {
  color: #444;
  font-weight: bold;
  font-family: 'GothamUltraItalic';
}
h1.h1t {
  margin-top: 7px !important;
  border: 1px solid #36bece;
  color: #36bece;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
ion-nav-view {
  background-color: #fff;
}
.sub {
  color: #3cb8ce;
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.rojo {
  color: #bf3f27;
}
.azul {
  color: #28ade3;
}
.gris {
  color: #807f7f;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.espacio {
  padding-left: 50px;
}
.border {
  border-top: 1px solid #a7aaaa;
  margin: auto;
  width: 80%;
  padding: 20px;
  margin-top: 20px 20px 0px;
}
.grande {
  color: #3aadc1;
  font-size: 32px !important;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 10px;
}
/* =========================== MENU */
.button.button-positive {
  background: #36bece;
  border-color: #36cfce;
}
.button.button-positive.activated {
  background: #36cfce;
  border-color: #36cfce;
}
.bar.bar-stable {
  background: #36bece;
}
.bar.bar-stable .title {
  font-weight: 200;
  font-family: 'GothamUltraItalic';
  font-style: italic;
  font-size: 23px;
}
.menu .list {
  background: url("../img/barra.png") no-repeat;
  padding-left: 44px;
}
.menu .list a.item {
  color: #807f7f;
  text-decoration: none;
  font-style: italic;
  font-family: GothamXLightItalic;
  overflow: visible;
}
.menu .list .item {
  background-color: transparent;
}
.menu .list .item-content {
  background: transparent;
  font-family: 'GothamUltraItalic';
  font-style: italic;
  overflow: visible;
}
/* =========================== NSE */
div.content-NSE .container.NSE {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-NSE .container.NSE div div h1:first-child {
  margin-top: 10px;
}
div.content-NSE .container.NSE div div p.p {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 25px;
}
div.content-NSE .container.NSE div div p.p .p_chiquita {
  font-size: 14px;
  margin-left: 30px;
}
div.content-NSE .container.NSE div div p.normal {
  font-size: 17px;
  text-align: center;
  margin: 0px;
}
div.content-NSE .container.NSE div div p.filtro {
  margin: 15px;
  text-align: center;
  font-size: 18px;
}
div.content-NSE .container.NSE div div img.igual {
  margin: auto;
  display: block;
  padding: 10px;
}
div.content-NSE .container.NSE div div p.verdadero {
  font-size: 17px;
}
div.content-NSE .container.NSE div div li.li {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 30px;
}
div.content-NSE .container.NSE div div div.col ul li {
  margin-left: -180px;
  margin-top: 20px;
}
div.content-NSE .container.NSE div div .sueldo {
  margin-left: 37px;
  font-size: 18px;
  margin-top: 20px;
}
div.content-NSE .container.NSE div div img.piramide {
  width: 230px;
  display: block;
  margin: auto;
  padding-top: 20px;
}
div.content-NSE .container.NSE div div p.texto {
  width: 80%;
  margin: auto;
  font-size: 14px;
  font-weight: 500;
}
div.content-NSE .container.NSE div div p.texto.dos {
  font-weight: 200;
}
div.content-NSE .container.NSE div div div.line {
  border-top: solid 1px #3cb8ce;
  width: 50px;
  margin: 20px auto;
}
div.content-NSE .container.NSE div div h3 {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}
div.content-NSE .container.NSE div div img.puertas {
  width: 100%;
}
/* =========================== HISTORIAS DE VIDA */
div.content-Historias-vida .container.historias_vida {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-Historias-vida .container.historias_vida div div div.row p {
  padding-top: 55px;
  font-weight: bold;
}
div.content-Historias-vida .container.historias_vida div div div.row p span.porcentaje {
  font-size: 50px;
  margin-left: 20px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.uno {
  width: 100%;
  margin-left: -30px;
}
div.content-Historias-vida .container.historias_vida div div img {
  margin: auto;
  display: block;
  padding: 10px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.chica {
  width: 100px;
  margin: 10px 0px;
}
div.content-Historias-vida .container.historias_vida div div div.row ul {
  margin-left: 40px;
  font-size: 16px;
  padding-bottom: 20px;
  list-style: inherit;
}
div.content-Historias-vida .container.historias_vida div div div.row ul li {
  margin-bottom: 10px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.chica2 {
  width: 125px;
  display: block;
  margin: 10px -50px;
}
div.content-Historias-vida .container.historias_vida div div ul {
  list-style: inherit;
  width: 80%;
  margin: auto;
}
div.content-Historias-vida .container.historias_vida div div ul li {
  padding-bottom: 10px;
}
div.content-Historias-vida .container.historias_vida div div img.dos {
  width: 100%;
  margin-left: -30px;
}
/* =========================== Estado Civil y Educación */
div.content-C_estado_civil .container.estado_civil {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_estado_civil .container.estado_civil div div h1.subCatego {
  text-align: center;
}
div.content-C_estado_civil .container.estado_civil div div div {
  padding-bottom: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div p {
  text-align: center;
  font-size: 17px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow {
  border-top: 1px solid #fbdc44;
  margin-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow p.spacing {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #807f7f;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle {
  position: relative;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle p.vive {
  margin-left: -75px;
  margin-top: 5px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle span.azul.nueve {
  font-size: 20px;
  font-weight: bold;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle img.flecha {
  position: absolute;
  top: -5px;
  left: 50px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un {
  border-top: 1px solid #fbdc44;
  width: 80%;
  margin: auto;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.un {
  color: #807f7f;
  font-size: 26px;
  font-weight: bold;
  margin-top: 15px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.grande.ocho {
  text-align: left;
  margin-left: 15px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.sod {
  margin-left: -45px;
  text-align: left;
  font-size: 23px;
  font-weight: 200;
}
div.content-C_estado_civil .container.estado_civil div div p.est {
  font-style: italic;
  font-size: 20px;
  border-top: 1px solid #fbdc44;
  padding-top: 20px;
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
}
div.content-C_estado_civil .container.estado_civil div div ul {
  margin: auto;
  width: 200px;
  margin-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div ul li {
  padding-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div p.ext {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}
div.content-C_estado_civil .container.estado_civil div div img.grafica {
  width: 200px;
  margin: auto;
  display: block;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li {
  position: relative;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li ul.porcen {
  position: absolute;
  left: 215px;
  bottom: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li ul.porcen2 {
  position: absolute;
  left: 230px;
  bottom: 10px;
}
/* =========================== DEMOGRÁFICOS Y EDUCACIÓN */
div.content-C_demograficas .container.demograficos_edu {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_demograficas .container.demograficos_edu div div p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
div.content-C_demograficas .container.demograficos_edu div div div.row {
  margin-top: 20px;
}
div.content-C_demograficas .container.demograficos_edu div div p.hijo {
  background: #e6c11f;
  width: 75%;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
div.content-C_demograficas .container.demograficos_edu div div img.grafica {
  width: 85%;
  margin: auto;
  display: block;
}
div.content-C_demograficas .container.demograficos_edu div div img.dos {
  width: 75%;
  margin: auto;
  display: block;
  margin-top: 10px;
}
div.content-C_demograficas .container.demograficos_edu div div p.p {
  font-size: 19px;
  width: 76%;
  margin: auto;
  line-height: 25px;
  font-weight: 200;
  border-bottom: 1px solid #fbdc44;
  padding-bottom: 15px;
}
div.content-C_demograficas .container.demograficos_edu div div p.p span.seis-tres.bold {
  font-size: 35px;
}
div.content-C_demograficas .container.demograficos_edu div div p span.lettering {
  font-size: 20px;
}
div.content-C_demograficas .container.demograficos_edu div div p span.lettering-dos {
  font-size: 25px;
}
/* =========================== HOGAR */
div.content-C_hogar .container.hogar {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_hogar .container.hogar div div p {
  text-align: center;
  font-size: 18px;
}
div.content-C_hogar .container.hogar div div p.p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-top: 20px;
}
div.content-C_hogar .container.hogar div div img {
  margin: auto;
  display: block;
}
div.content-C_hogar .container.hogar div div p.grande.amarillo {
  color: #e6c11f;
}
div.content-C_hogar .container.hogar div div p.font {
  font-size: 25px;
}
div.content-C_hogar .container.hogar div div p.left {
  text-align: left;
  margin-left: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}
div.content-C_hogar .container.hogar div div p.bold.grande.negro {
  line-height: 30px;
  color: #000;
}
div.content-C_hogar .container.hogar div div p.co {
  font-weight: 200;
  text-align: left;
  font-size: 23px;
  margin-left: -40px;
  margin-top: 12px;
}
div.content-C_hogar .container.hogar div div div.col ul {
  margin-left: -15px;
  margin-top: 20px;
}
div.content-C_hogar .container.hogar div div div.col-75 ul {
  border-left: 1px solid;
  padding-left: 10px;
  margin-left: 30px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* =========================== OCUPACIONES */
div.content-C_ocupaciones .container.ocupaciones {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_ocupaciones .container.ocupaciones div div p.p {
  padding-left: 65px;
  font-size: 18px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.border- {
  border-bottom: 1px solid #fbdc44;
  border-top: 1px solid #fbdc44;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}
div.content-C_ocupaciones .container.ocupaciones div div p.-p {
  padding-left: 28px;
  font-size: 18px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 {
  position: relative;
  margin-top: 20px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.coll {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  margin-left: -25px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.coll img {
  position: absolute;
  top: 23px;
  left: 95px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.sector {
  font-size: 23px;
  font-weight: 200;
}
div.content-C_ocupaciones .container.ocupaciones div div p.giro {
  width: 100px;
  background: #000;
  color: #fff;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-75 {
  margin-left: 30px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-75 ul {
  color: #807f7f;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col {
  margin-left: -30px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col ul {
  color: #28ade3;
  font-weight: bold;
}
/* =========================== SERVICIOS BANCARIOS */
div.content-C_bancarios .container.bancarios {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_bancarios .container.bancarios div div p.te.center {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 {
  margin-left: 30px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 ul {
  color: #807f7f;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 ul li {
  padding-top: 10px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col {
  margin-left: -30px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col ul li {
  padding-top: 10px;
}
div.content-C_bancarios .container.bancarios div div p {
  text-align: center;
}
div.content-C_bancarios .container.bancarios div div p.banco {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 20px;
}
div.content-C_bancarios .container.bancarios div div p.promedio {
  border-top: 1px solid #fbdc44;
  padding-top: 15px;
  width: 80%;
  margin: auto;
}
div.content-C_bancarios .container.bancarios div div div.relative {
  position: relative;
  height: 165px;
}
div.content-C_bancarios .container.bancarios div div div.relative p.span {
  font-size: 36px;
  line-height: 34px;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #fbdc44;
  margin: auto;
}
div.content-C_bancarios .container.bancarios div div div.relative p.span span.ps {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 23px;
}
div.content-C_bancarios .container.bancarios div div div.col-75 {
  margin-left: 30px;
}
div.content-C_bancarios .container.bancarios div div div.col-75 p.pb {
  text-align: center;
}
div.content-C_bancarios .container.bancarios div div div p.op {
  font-size: 33px;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 200;
}
div.content-C_bancarios .container.bancarios div div div p.op span.bold.f {
  font-size: 27px;
  letter-spacing: normal;
}
div.content-C_bancarios .container.bancarios div div p.grande.borde {
  border-top: 1px solid #fbdc44;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
/* =========================== CONSUMO DE MEDIOS */
div.content-C_medios .container.medios {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_medios .container.medios div div p.italic {
  text-align: center;
  margin-top: 20px;
}
div.content-C_medios .container.medios div div img {
  width: 50%;
  margin: auto;
  display: block;
}
div.content-C_medios .container.medios div div div p {
  text-align: center;
  font-size: 16px;
}
div.content-C_medios .container.medios div div div p span.bold.p2 {
  font-size: 28px;
}
div.content-C_medios .container.medios div div div p span.bold.esp {
  font-size: 25px;
  letter-spacing: 4px;
}
div.content-C_medios .container.medios div div div p span.servicio {
  font-size: 25px;
}
div.content-C_medios .container.medios div div div.top {
  border-top: 1px solid #fbdc44;
  margin: auto;
  width: 80%;
  margin-top: 10px;
}
div.content-C_medios .container.medios div div div.top p.left {
  text-align: left;
  margin-left: 20px;
}
div.content-C_medios .container.medios div div p {
  text-align: center;
}
div.content-C_medios .container.medios div div p.lee {
  font-style: italic;
  border-top: 1px solid #fbdc44;
  margin: auto;
  width: 80%;
  margin-top: 10px;
  padding-top: 30px;
}
div.content-C_medios .container.medios div div p.Portada {
  width: 80%;
  margin: auto;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 30px;
}
div.content-C_medios .container.medios div div p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-bottom: 21px;
}
div.content-C_medios .container.medios div div div.row div.col-75 {
  margin-left: 30px;
}
div.content-C_medios .container.medios div div div.row div.col-75 ul li {
  padding-bottom: 10px;
}
div.content-C_medios .container.medios div div div.row div.col {
  margin-left: -30px;
}
div.content-C_medios .container.medios div div div.row div.col ul li {
  padding-bottom: 10px;
}
div.content-C_medios .container.medios div div div.border.amarillo {
  border-top: 1px solid #fbdc44;
}
div.content-C_medios .container.medios div div div.border.amarillo p.pp {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 22px;
}
/* =========================== INTERNET Y REDES SOCIALES */
div.content-C_internet .container.internet {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_internet .container.internet div div p.grande span.verde {
  font-size: 16px;
}
div.content-C_internet .container.internet div div p.grande span.normal {
  color: #000;
  font-weight: 200;
  font-size: 22px;
}
div.content-C_internet .container.internet div div img {
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.content-C_internet .container.internet div div p.azul.en {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
div.content-C_internet .container.internet div div div.row {
  margin-left: 15px;
}
div.content-C_internet .container.internet div div div.row div.col {
  position: relative;
  margin-right: 225px;
}
div.content-C_internet .container.internet div div div.row div.col ul li img {
  width: 40px;
}
div.content-C_internet .container.internet div div div.row div.col ul li img.img {
  width: 25px;
  margin-left: 8px;
}
div.content-C_internet .container.internet div div div.row div.col-50 {
  margin-left: -155px;
}
div.content-C_internet .container.internet div div div.row div.col-50 ul li {
  margin-top: 38px;
  margin-left: -25px;
}
div.content-C_internet .container.internet div div div.row div.col.numeros {
  margin-left: 40px;
  margin-top: -5px;
}
div.content-C_internet .container.internet div div div.row div.col.numeros ul li {
  margin-top: 38px;
  margin-left: -25px;
}
div.content-C_internet .container.internet div div p {
  text-align: center;
}
div.content-C_internet .container.internet div div p.azul {
  font-size: 20px;
}
div.content-C_internet .container.internet div div p.grande.negro {
  color: #000;
  letter-spacing: 2px;
  margin-top: -10px;
}
div.content-C_internet .container.internet div div p.rs {
  font-size: 25px;
  font-weight: 200;
}
div.content-C_internet .container.internet div div p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-top: 30px;
}
div.content-C_internet .container.internet div div div.row div.col-50.redesS ul li {
  margin-top: 10px;
}
div.content-C_internet .container.internet div div div.row div.col.por ul {
  margin-left: -50px;
  margin-top: -5px;
}
div.content-C_internet .container.internet div div div.row div.col.por ul li {
  margin-top: 10px;
}
/* =========================== TELEFONÍA CELULAR */
div.content-C_telefonia .container.telefonia {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_telefonia .container.telefonia div div p.azul {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
div.content-C_telefonia .container.telefonia div div p.azul.y {
  text-align: center;
  font-weight: 200;
}
div.content-C_telefonia .container.telefonia div div div.row div.col img {
  width: 100%;
  margin-left: 10px;
  margin-top: 13px;
}
div.content-C_telefonia .container.telefonia div div div.row div.col-50 ul li {
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.row div.col.por ul li {
  padding-top: 10px;
  margin-left: -20px;
}
div.content-C_telefonia .container.telefonia div div div.img img {
  margin: auto;
  display: block;
  border-top: 1px solid #fbdc44;
  margin-top: 20px;
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.img p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-top: 30px;
  text-align: center;
  padding-top: 5px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row {
  margin-left: 20px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col-75 ul li {
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col ul {
  margin-top: -5px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col ul li {
  padding-top: 10px;
}
/* =========================== TELEFONÍA CELULAR */
div.content-C_tecnologia .container.tecnologia {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-C_tecnologia .container.tecnologia div div p {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  margin: 20px;
}
div.content-C_tecnologia .container.tecnologia div div div.row {
  margin-left: 25px;
}
div.content-C_tecnologia .container.tecnologia div div div.row div.col ul li img {
  width: 70%;
}
div.content-C_tecnologia .container.tecnologia div div div.row div.col-75 ul li {
  padding-top: 21.5px;
}
/* =========================== SECRETO #1 */
div.content-secreto_1 .container.secreto_1 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-secreto_1 .container.secreto_1 div div h1.azul.italic.bold {
  margin-top: 20px;
}
div.content-secreto_1 .container.secreto_1 div div p.bold {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
div.content-secreto_1 .container.secreto_1 div div p.p {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
div.content-secreto_1 .container.secreto_1 div div div p.title {
  background: #000;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 53%;
}
div.content-secreto_1 .container.secreto_1 div div div img {
  width: 155px;
  margin: auto;
  display: block;
  margin-top: 15px;
}
div.content-secreto_1 .container.secreto_1 div div div div {
  width: 90%;
  margin: auto;
  display: block;
}
div.content-secreto_1 .container.secreto_1 div div div div p {
  font-size: 18px;
  font-weight: 200;
  text-align: -webkit-left;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* =========================== SECRETO #2 */
div.content-secreto_2 .container.secreto_2 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-secreto_2 .container.secreto_2 div div h1.azul.italic.bold {
  margin-top: 20px;
}
div.content-secreto_2 .container.secreto_2 div div p.bold {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
div.content-secreto_2 .container.secreto_2 div div div h4 {
  background: #49c3d7;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 53%;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.content-secreto_2 .container.secreto_2 div div div p.gris {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 25px;
  margin-left: 65px;
  margin-top: 10px;
}
div.content-secreto_2 .container.secreto_2 div div div img {
  margin: auto;
  display: block;
}
div.content-secreto_2 .container.secreto_2 div div div ul.gris {
  color: #807f7f;
  margin-left: 65px;
  font-weight: 200;
  list-style: inherit;
}
div.content-secreto_2 .container.secreto_2 div div div ul.gris li {
  padding-bottom: 10px;
}
div.content-secreto_2 .container.secreto_2 div div div p.ce {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  margin-top: 15px;
  line-height: 23px;
  color: #807f7f;
  margin-left: 0;
}
div.content-secreto_2 .container.secreto_2 div div div img.img {
  width: 185px;
  margin-top: 35px;
  border: 1px solid #fbdc44;
}
/* =========================== SECRETO #3 */
div.content-secreto_3 .container.secreto_3 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-secreto_3 .container.secreto_3 div div h1.azul.italic.bold {
  margin-top: 20px;
}
div.content-secreto_3 .container.secreto_3 div div p.bold {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
div.content-secreto_3 .container.secreto_3 div div div p {
  font-weight: 200;
  padding-top: 15px;
  width: 200px;
  margin: auto;
}
div.content-secreto_3 .container.secreto_3 div div div h3.pro {
  font-style: italic;
  margin-left: 20px;
  margin-bottom: -15px;
}
div.content-secreto_3 .container.secreto_3 div div div h4.h4 {
  font-style: italic;
  margin-bottom: -15px;
  margin-left: 20px;
}
/* =========================== SECRETO #4 */
div.content-secreto_4 .container.secreto_4 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-secreto_4 .container.secreto_4 div div h1.azul.italic.bold {
  margin-top: 20px;
}
div.content-secreto_4 .container.secreto_4 div div p.bold {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
div.content-secreto_4 .container.secreto_4 div div img.uno {
  width: 120px;
  margin: auto;
  display: block;
}
div.content-secreto_4 .container.secreto_4 div div div p {
  text-align: center;
  margin-top: 10px;
}
div.content-secreto_4 .container.secreto_4 div div div img.dos {
  width: 60px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
div.content-secreto_4 .container.secreto_4 div div div img.tres {
  width: 60px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
div.content-secreto_4 .container.secreto_4 div div div p.mex {
  font-size: 22px;
  font-weight: 200;
}
div.content-secreto_4 .container.secreto_4 div div div p.black {
  background: #000;
  margin: auto;
  color: #fff;
  width: 200px;
  padding: 10px;
  font-style: italic;
  font-size: 13px;
}
/* =========================== SECRETO #5 */
div.content-secreto_5 .container.secreto_5 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-secreto_5 .container.secreto_5 div div h1.azul.italic.bold {
  margin-top: 20px;
}
div.content-secreto_5 .container.secreto_5 div div p.bold {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
div.content-secreto_5 .container.secreto_5 div div div.row div.col-50 {
  margin-top: 25px;
}
div.content-secreto_5 .container.secreto_5 div div div.row div.col-50 img {
  margin: auto;
  display: block;
  width: 90px;
  margin-bottom: 28px;
}
div.content-secreto_5 .container.secreto_5 div div div.row div.col-50.adn p {
  color: #fff;
  background: #000;
  padding: 10px;
  margin: auto;
  display: block;
  width: 120px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
div.content-secreto_5 .container.secreto_5 div div div.row div.col-50.adn img {
  width: 80px;
}
div.content-secreto_5 .container.secreto_5 div div div.img img {
  width: 90%;
  margin: auto;
  display: block;
}
/* =========================== NUEVO LUJO */
div.content-nuevo_lujo .container.nuevo_lujo {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div h1.h1t.ellos {
  font-size: 20px;
  font-weight: 200;
}
div.content-nuevo_lujo .container.nuevo_lujo div div h1.h1t.ellos span.bold {
  font-size: 20px;
  margin-top: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div p.azul.italic.bold {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div img {
  margin: auto;
  display: block;
  width: 120px;
  margin-top: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div p {
  text-align: center;
  font-size: 16px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div p.bo {
  text-align: center;
  font-size: 28px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 25px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div p.bo span.bold {
  font-size: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div ul {
  margin-left: 30px;
  list-style: inherit;
}
div.content-nuevo_lujo .container.nuevo_lujo div div ul li {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 13px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div p.fondo {
  background: #28ade3;
  padding: 10px;
  color: #fff;
  margin: auto;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div ul {
  margin: 20px;
  padding-left: 30px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div img.i {
  margin: auto;
  width: 170px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div.row div.col img {
  margin: auto;
  width: 75px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div.row div.col-75 p {
  text-align: left;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 25px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div p.back {
  background: url("../img/flechas.png") no-repeat;
  height: 100px;
  padding-top: 37px;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  padding-right: 25px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div p.serv {
  font-weight: 200;
  margin-left: 20px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}
div.content-nuevo_lujo .container.nuevo_lujo div div div p.gris.serv {
  font-size: 13px;
  text-align: center;
  margin-left: 0px;
  font-style: italic;
}
/* =========================== NUEVO LUJO 2 */
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div div.row {
  margin-top: 20px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div div.row div.col-50 button {
  background: #f7e413;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  width: 120px;
  font-size: 14px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div h4 {
  text-align: center;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div p.italic {
  margin-left: 20px;
  color: #f7e413;
  font-size: 18px;
  font-weight: bold;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div p.p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div p.li {
  width: 85%;
  margin-left: 20px;
  font-weight: 200;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 25px;
  border-top: solid 1px;
  padding-top: 5px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div input {
  margin: 0 5px 0 20px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div p.lis {
  width: 85%;
  margin-left: 20px;
  font-weight: 200;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div div p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
div.content-nuevo_lujo_2 .container.nuevo_lujo_2 div div div p span.amarillo {
  color: #f7e413;
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
}
/* =========================== NUEVO LUJO 3 */
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div div.row {
  margin-top: 20px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div div.row div.col-50 button {
  background: #f7e413;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  width: 120px;
  font-size: 14px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div h4 {
  text-align: center;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div p.italic {
  margin-left: 20px;
  color: #f7e413;
  font-size: 18px;
  font-weight: bold;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div p.p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div p.li {
  width: 85%;
  margin-left: 20px;
  font-weight: 200;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 25px;
  border-top: solid 1px;
  padding-top: 5px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div input {
  margin: 0 5px 0 20px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div p.lis {
  width: 85%;
  margin-left: 20px;
  font-weight: 200;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div div p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
div.content-nuevo_lujo_3 .container.nuevo_lujo_3 div div div p span.amarillo {
  color: #f7e413;
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
}
/* =========================== ACTIVIDADES */
div.content-actividades .container.actividades {
  border: 1px solid #36bece;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
div.content-actividades .container.actividades div div p.p {
  text-align: center;
  line-height: 17px;
  margin-top: -10px;
}
div.content-actividades .container.actividades div div p.p span.bold {
  font-size: 20px;
}
div.content-actividades .container.actividades div div div.borde {
  border-top: 1px solid #fbdc44;
  margin-top: 15px;
  padding-top: 10px;
  margin-left: 20px;
  display: block;
  width: 85%;
}
div.content-actividades .container.actividades div div div.borde p {
  font-size: 23px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}
div.content-actividades .container.actividades div div div.borde div.row {
  margin-top: -10px;
}
div.content-actividades .container.actividades div div div.borde div.row div.col-75 {
  margin: 0;
}
div.content-actividades .container.actividades div div h1 {
  font-size: 26px;
  text-align: center;
}
div.content-actividades .container.actividades div div p.azul.bold {
  text-align: center;
  margin: 20px 0;
}
div.content-actividades .container.actividades div div div.row ul {
  width: 100%;
}
div.content-actividades .container.actividades div div div.row ul li {
  padding: 10px;
  border: solid 1px #807f7f;
  margin-bottom: 5px;
  font-size: 12px;
  position: relative;
}
div.content-actividades .container.actividades div div div.row ul li span.position {
  position: absolute;
  right: 15px;
  color: #807f7f;
}
/* =========================== MENU CARACTERISTICAS DE CONSUMO */
a.item {
  color: #36bece;
  font-style: italic;
  font-family: GothamXLightItalic;
}
/* =========================== MENU SECRETOS */
div.content-secretos_guardados .container.secretos_guardados div div ul {
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
}
div.content-secretos_guardados .container.secretos_guardados div div ul li {
  padding-bottom: 10px;
  padding: 10px;
}
/* =========================== PANTALLA INICIO */
div.content-boy .has-header {
  background: #36bece;
}
div.content-boy .scroll {
  height: 100%;
}
div.content-boy .container.boy {
  height: 100%;
  background: url("../img/fondo.png");
}
div.content-boy .container.boy img {
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}
div.content-boy .container.boy ul li {
  position: absolute;
  font-weight: 200;
  color: #000;
  font-family: 'GothamXLightItalic';
  font-style: italic;
}
div.content-boy .container.boy ul li a {
  color: #000;
}
div.content-boy .container.boy ul li a span {
  font-style: normal;
  font-size: 13px;
  text-align: right;
  color: #807f7f;
}
div.content-boy .container.boy ul li.ns {
  top: 7%;
  left: 9%;
  font-size: 40px;
}
div.content-boy .container.boy ul li.h {
  top: 12%;
  right: 6%;
  font-size: 26px;
}
div.content-boy .container.boy ul li.a {
  top: 37%;
  left: 5%;
  font-size: 20px;
}
div.content-boy .container.boy ul li.c {
  top: 32%;
  right: 1%;
  font-size: 18px;
}
div.content-boy .container.boy ul li.n {
  bottom: 10%;
  font-size: 32px;
  left: 7%;
  line-height: 25px;
}
div.content-boy .container.boy ul li.s {
  bottom: 25%;
  right: 13%;
  font-size: 27px;
}
