*
div
p
	margin 0
	padding 0
	/*font-family 'Gotham Medium'*/
body
html
	size 100%
	p
		line-height normal
.popover
	max-height 160px
/* =========================== ESTILO GENERAL */
h1
	color: #444;
	font-weight: bold
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
h1.h1t
	margin-top: 7px !important;
	border: 1px solid #36bece;
	color: #36bece;
	padding: 10px;
	font-size: 22px;
	text-align: center;
	width: 95%;
	margin: auto;
	border-radius: 10px;
h2
	text-align center
	font-weight bold
	font-size 18px

ion-nav-view
	background-color white
.sub
	color #3CB8CE
	font-style italic 
.bold
	font-weight bold
.rojo
	color #BF3F27
.azul
	color #28ADE3
.gris
	color #807F7F
.italic
	font-style italic
.center
	text-align center
.espacio
	padding-left 50px
.border
	border-top: 1px solid #A7AAAA;
	margin: auto;
	width: 80%;
	padding: 20px;
	margin-top: 20px 20px 0px;
.grande
	color #3AADC1
	font-size 30px !important
	text-align center
	font-weight bold
	padding-top 20px
	margin-bottom: 10px;
/* =========================== MENU */
.button.button-positive
	background #36BECE
	border-color #36CFCE
	&.activated
		background #36CFCE
		border-color #36CFCE
.bar.bar-stable
	background #36BECE
	.title
		font-weight 200
		font-family: 'GothamUltraItalic';
		font-style: italic;
		font-size: 20px;
		overflow visible
.menu
	.list 
		background: url(../img/barra.png)no-repeat;
		padding-left: 44px;
		a.item
			color: #807F7F;
			text-decoration: none;
			font-style: italic;
			font-family: GothamXLightItalic;
			overflow visible
		.item 
			background-color: transparent;
		.item-content
			background transparent
			font-family: 'GothamUltraItalic';
			font-style: italic;
			overflow: visible;
		.icon.ion-ios7-arrow-right
			font-size 20px
			color: #278B96;
/* =========================== NSE */
div.content-NSE 
	.container.NSE
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.gris
					text-align right
					font-size 10px
					margin-right 10px
					margin-bottom 20px
				position relative
				h1:first-child
					margin-top 10px
				p.p 
					margin-left: 20px;
					font-size: 20px;
					margin-top 25px
					.p_chiquita
						font-size 14px
						margin-left: 30px;
				p.normal
					font-size 17px
					text-align: center;
					margin: 0px;
				p.filtro
					margin 15px
					text-align center
					font-size 18px
				img.igual
					margin: auto
					display block
					padding 10px
				p.verdadero
					font-size 17px
				li.li
						font-size 17px
						margin-top 20px
						margin-left: 30px;
				div.col
					ul 
						li 
							margin-left -180px
							margin-top: 20px;
				.sueldo
					margin-left 37px
					font-size 18px
					margin-top 20px
				button
					position absolute
					font-size 25px
					color #f00
					&.btnA
						left 50%
						top 10px
					&.btnC
						left 65%
						top 90px
					&.btnCMin
						left 75%
						top 135px
				img.piramide
					width 230px
					display block
					margin auto
					padding-top 20px
				p.texto
					width: 80%;
					margin: auto;
					font-size: 13px;
					padding-bottom: 10px;

				p.texto.dos
					font-weight 20
					&.letter 
						font-size 12px
				div.line
					border-top: solid 1px #3cb8ce;
					width: 50px;
					margin: 20px auto;
				h3
					text-align center
					font-weight 200 
					font-size: 18px;		
				img.puertas 
					width: 100%
		@media(min-width: 500px)
			div
				div 
					p.gris
						text-align: center;
					button.btnA
						left 50% !important
						font-size 20px !important
					button.btnC
						left 55% !important
						font-size 20px !important
					button.btnCMin
						left 58% !important
						font-size 20px !important
					img.puertas 
						width 70%
						margin auto
						display block
/* =========================== HISTORIAS DE VIDA */
div.content-Historias-vida
	.container.historias_vida
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		img
			width 100% !important
		.col
			position relative
			.row
				.col-33
					position relative
					display flex
					align-items center
					justify-content center
					p
						font-weight bold
						font-size 22px
						@media(min-width: 500px)
							font-size 65px
				.col-67
					button 
						position absolute
						bottom -15px
						right 0
						left inherit !important
						font-size 25px
						color red
				&#hv_cont1
				&#hv_cont2
				&#hv_cont3
					display none
				.row
					.col-50
						position relative
						display flex
						align-items center
						justify-content center
						ul
							font-size 10px
							margin-left 5px
							@media(min-width: 500px)
								font-size 12px
								margin-left 20px
			ul
				list-style inherit
				
		/*
		div
			div
				div.border
					padding 0px
					margin-bottom 15px
					&.border.d
						margin-top 20px
				div.row
					margin-left 60px
					p
						padding-top: 55px;
						font-weight: bold;
						span.porcentaje
							font-size 35px
							margin-left: 25%!important;
							float: left
					img.uno
						width 95%
						margin-left: -40px;
						margin-top 10px
					button.button.button-icon.ion-plus-circled
						left: 45px;
						bottom: 25px;
						font-size: 25px;
						color: red;
					button.button.button-icon.ion-minus-circled
						left: 45px;
						bottom: 25px;
						font-size: 25px;
						color: red;
				img
					margin: auto
					display block
					padding 10px
					width 40%
				img.cuatro
						width 90px !important
						position: absolute;
						left: 20px;
						top: -25px
				img.tres
						width: 125px !important;
						position: absolute;
						left: 20px;
						top: 95px !important;
				img.linea
					position: absolute;
					top: 75px;
					width: 35%;
					left: 5px;
				div.none
					display none
					div.block
						display block
						img 
							width 100%
					div
						ul.imagen 
							margin-left -25px !important
							width 72%
							li 
								font-size 10px
						.imagen.li
							margin-top 0px
						ul
							width 84%
							margin-left 25px
							li
								padding-bottom 5px
								list-style: initial;
								font-size: 12px;
						div.row
							img.chica
								width: 100px;
							ul
								margin-left: 40px;
								font-size: 16px
								padding-bottom: 20px;
								list-style: inherit;
								width 150px
								li 
									margin-bottom: 0px;
									font-size 12px
					
							img.chica2
								width 100px
								display block
						ul.primero
							list-style: inherit;
							width: 72%;
							padding-bottom 20px
							margin-left: 30px;
							margin-bottom: 30px;
						ul
							list-style: inherit;
							width: 58%;
							padding-bottom 20px
							margin-top -35px
							margin-left 115px
							li 
								padding-bottom 0px
								font-size 12px
				img.dos
					width: 95%;
					margin-left: -40px;
					margin-top 10px
		@media(min-width: 500px)
			div
				div
					img.linea
						width 25%
					img.cuatro
						left 100px
						width 40% !important
						top -55px
					img.tres
						left 88px
						width 54% !important
						top 65px !important
					div.row	
						img.uno
							width 70%	
						img.dos
							width 70%
						p
							padding-top 130px 
							span.porcentaje
								font-size 100px
								margin-left 131px !important
						button.button.button-icon.ion-plus-circled
							left 165px !important
						button.button.button-icon.ion-minus-circled
							left 165px !important
							font-size 40px
					div.none
						.vc
							ul 
								margin-left 165px !important 
								margin-bottom 55px !important
						div.block
							margin-top 0px
							ul 
								width 325px
								margin-left 220px
								li 
									font-size 20px
									padding-bottom 15px
							div.row
								img.chica
									width 135px
									margin-top: -40px;
								img.chica2
									width 165px
									margin-top: -40px;
								ul
									width 450px
									margin-left 40px
									margin-bottom 25px
									li 
										font-size 20px
							div.vc
								margin-top: 0px;
								margin-left: 40px;
								padding-bottom 20px
								ul
									li
										font-size: 20px;
										width: 58%;
										margin-bottom: 15px;
						
								
/* =========================== Estado Civil y Educación */
div.content-C_estado_civil
	.container.estado_civil
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.ley
					text-align right
					font-size 10px
					margin-right 20px
					margin-bottom 20px
					color #807F7F
				h1.subCatego 
					text-align center
				div
					padding-bottom 10px
					p 
						text-align center 
						font-size 17px
						&.espacio 
							margin-left: -35px;
							width: 150px;
						&.grande.ocho
							margin-left 20px !important
				div.border.yellow
					border-top 1px solid #FBDC44
					margin-top 10px	
					p.spacing 
						text-align center
						font-size 22px
						font-weight bold
						letter-spacing: 5px;
						color #807F7F
					div.col-50.fle
						position relative
						p.vive
							margin-left -75px
							margin-top: 5px;
							line-height 23px
						span.azul.nueve
							font-size 32px;
							font-weight bold
							color #3aadc1
							margin-left -15px
						img.flecha
							position absolute
							top: -5px;
							left: 50px;
				img.dos 
					margin auto
					display block
				div.border-un
					border-top 1px solid #FBDC44
					width 80%
					margin: auto;
					p.un
						color #807F7F
						font-size 26px
						font-weight bold
						margin-top: 15px;
					p.grande.ocho
						text-align left
						margin-left: 3px;
					p.sod
						margin-left: -45px;
						text-align: left;
						font-size: 23px;
						font-weight: 200;
				p.est
					font-style italic
					font-size 20px
					border-top 1px solid #FBDC44
					padding-top 20px
					width 80%
					display block
					margin auto
					text-align center
				ul
					margin auto
					width 200px
					margin-top 10px
					li
						padding-top 10px
				p.ext
					text-align center
					font-weight bold
					font-style italic
					margin-top 20px
				img.grafica
					width 200px
					margin auto
					display: block;
				p.hijo
					background #E6C11F
					width: 75%;
					margin: auto;
					padding: 10px;
					color: #fff;
					font-weight bold
					font-size 15px
					margin-top 20px
				p.p
					font-size: 19px;
					width: 76%;
					margin: auto;
					line-height: 25px;
					font-weight: 200;
					border-bottom 1px solid #FBDC44
					padding-bottom 15px
					text-align center
					span.seis-tres.bold
						font-size 35px
				p
					span.lettering 
						font-size: 20px;
				p
					span.lettering-dos 
						font-size: 25px;
				div.ul-li
					position relative
					ul.porcen
						position absolute
						left: 215px;
						bottom 10px
					ul.porcen2
						position absolute
						left: 230px;
						bottom 10px
		@media(min-width: 500px)
			div
				div
					img.dos 
						margin-top 100px
					p.hijo
						font-size: 30px;
						line-height: 40px;
					div.border.yellow
						div.col-50.fle
							text-align center
							span.azul.nueve
								margin-left 100px
							img.flecha 
								left: 228px;
								width 20%
								//top -25px
							p.vive 
								margin-left 100px
					div.border-un 
						p.grande.ocho
							margin-left 150px !important
							text-align center
					p.ley
						text-align center
/* =========================== DEMOGRÁFICOS Y EDUCACIÓN */
/*div.content-C_demograficas
	.container.demograficos_edu
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p
					text-align center
					font-size: 16px;
					letter-spacing: 1px;
				div.row
					margin-top 20px
				p.hijo
					background #E6C11F
					width: 75%;
					margin: auto;
					padding: 10px;
					color: #fff;
					font-weight bold
					font-size 15px
				img.grafica
					width: 65%;
					margin: auto;
					display: block;
				img.dos
					width: 65%;
					margin: auto;
					display: block;
				p.p
					font-size: 19px;
					width: 76%;
					margin: auto;
					line-height: 25px;
					font-weight: 200;
					border-bottom 1px solid #FBDC44
					padding-bottom 15px
					span.seis-tres.bold
						font-size 35px
				p
					span.lettering 
						font-size: 20px;
				p
					span.lettering-dos 
						font-size: 25px;
		@media(min-width: 500px)
			div
				div
					p.hijo
						font-size: 30px;
						line-height: 40px;
					img.grafica
						width 40%
					img.dos
						width 40%*/
/* =========================== HOGAR */
div.content-C_hogar
	.container.hogar
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p
					text-align center
					font-size 18px
				p.gris 
					text-align right
					font-size 10px
					margin-right 20px
					margin-bottom 20px
				p.p
					text-align center
					font-size 20px
					font-weight bold
					font-style italic
					padding-top 20px
				h2.es
					margin-bottom -20px
				img
					margin: auto;
					display: block;
				p.grande.amarillo
					color #E6C11F
				p.font 
					font-size 25px
				p.left
					text-align: left;
					margin-left: 60px;
					font-weight: 200;
					margin-bottom: 20px;
				p.bold.grande.negro
					line-height: 30px;
					color: #000;
				p.co
					font-weight: 200;
					text-align: left;
					font-size: 23px;
					margin-left: -40px;
					margin-top: 12px;
				div.col
					ul
						margin-left -15px
						margin-top 20px
				div.col-75
					ul
						border-left: 1px solid;
						padding-left: 10px;
						margin-left: 30px;
						border-bottom: 1px solid;
						padding-bottom: 10px;
						margin-bottom: 30px;
						margin-top 20px
						width: 227px;
						li 
							position relative
							border: 1px solid #807f7f;
							padding: 10px;
							margin: 5px;
							width: 210px;
							span.position
								position absolute
								left 170px
				
		@media(min-width: 500px)
			div
				div
					p.bold.grande.negro
						margin-left 230px
					p.left
						margin-left 279px
					p.gris 
						text-align center
					div.col-75 
						ul 
							margin-left 260px
/* =========================== OCUPACIONES */
div.content-C_ocupaciones
	.container.ocupaciones
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.p
					padding-left 50px
					font-size 18px
				div.border-
					border-bottom 1px solid #FBDC44
					border-top 1px solid #FBDC44
					padding-bottom 20px
					margin auto
					margin-top 20px
					width 80%
				p.-p
					padding-left 18px
					font-size 18px
				div.col-50
					position relative
					margin-top 20px
					p.coll
						text-align: center;
						margin-top: 30px;
						font-size: 22px;
						margin-left: -25px;
						img
							position: absolute;
							top: 0px;
							left: 90px;						
					p.sector
						font-size 23px
						font-weight 200
				p.giro
					width: 100px;
					background: #000;
					color: #fff;
					padding: 10px;
					margin-left: 30px;
					margin-top: 10px;
					margin-bottom: 20px;
					font-weight: bold;
					font-style: italic;
				div.col-75
					margin-left 30px
					ul
						color #807F7F
				div.col
					margin-left: -30px;
					ul
						color #28ADE3
						font-weight bold
		@media(min-width: 500px)
			div
				div
					p.p
						padding-left 274px
						width 500px	
					p.-p
						padding-left 202px
						width 411px
					div.col-50
						p.coll
							margin-left 200px
							img
								left 313px
								width 50px
								top 25size 100%px
					div.col-75
						padding-left 150px
					p.giro 
						text-align: center;
						margin: auto 185px;
						margin-top: 20px;
						margin-bottom: 10px;
/* =========================== SERVICIOS BANCARIOS */
div.content-C_bancarios
	.container.bancarios
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.te.center
					text-align center
					font-size 16px
					padding-top 20px
				div.row
					div.col-75
						margin-left 30px
						ul
							color #807F7F
							li 
								padding-top 10px
								padding-top 10px
								position relative
								span.position
									left 200px
									position: absolute;
									color: #3cb8ce;
									font-weight: bold;
					div.col
						margin-left -30px
						ul
							li 
								padding-top 10px
				p
					text-align center
					&.pb.bold.border
						padding-bottom: 0px;
						border-top: #fbdc44 1px solid;
				p.banco 
					font-size 26px
					font-weight: 200;
					margin-bottom 20px
				p.promedio
					border-top 1px solid #FBDC44 
					padding-top: 15px;
					width: 80%;
					margin: auto;
				div.relative
					position relative
					height: 165px;
					p.span
						font-size: 36px;
						line-height: 34px;
						width: 80%;
						padding-top: 10px;
						padding-bottom: 35px;
						border-bottom: 1px solid #FBDC44 
						margin: auto;
						span.ps 
							position absolute
							width 100%
							margin auto
							left 0
							right 0
							top: 110px;
							font-size: 23px;
				div.col-75
					margin-left 30px
					p.pb
						text-align center
				div
					p.op
						font-size: 33px;
						letter-spacing: 2px;
						line-height: 26px;
						font-weight: 200;
						span.bold.f
							font-size: 27px;
							letter-spacing: normal;
				p.grande.borde
					border-top: 1px solid #FBDC44 					
					width 80%
					margin auto
					margin-top 10px
					padding-bottom: 10px;
		@media(min-width: 500px)
			div
				div
					div.relative
						p.span 
							padding-bottom 55px
							span.ps 
								top 80px
								
					div.col 
						margin-left -335px !important
					div.col-75 
						margin-left 230px !important
						ul 
							li 
								span.position 
									left 240px !important
/* ===========================  MEDIOS */
div.content-C_medios
	.container.medios 
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.gris 
					text-align right
					font-size 10px
					margin-right 20px
					margin-bottom 20px
				p.italic 
					text-align center
					margin-top 20px
					font-weight: bold;
					font-size: 24px;
					margin-bottom: 20px;
					font-family: 'GothamUltraItalic';
				.lee 
					border-top 1px solid #FBDC44 
					margin: auto;
					width: 80%;
					padding-top: 30px;
				img 
					width 50%
					margin auto
					display: block;
				div
					p
						text-align center
						font-size 16px
						span.bold.p2
							font-size 28px
						span.bold.esp
							font-size 25px
							letter-spacing 4px
						span.servicio
							font-size 25px
				div.top
					border-top 1px solid #FBDC44 
					margin auto
					width 80%
					margin-top 10px
					p.left
						text-align left
						margin-left 20px
				p 
					text-align center
				p.Portada
					width 80%
					margin auto
					text-align justify
					margin-top 10px
					margin-bottom 30px
				p.sub.back
					background: url("../img/Imagen9.png") no-repeat 0px 0px;
					background-size: cover;
					height: 48px;
					margin-bottom: 21px;
					padding-top: 4px;
				div.row
					div.col-75
						margin-left 30px
						ul
							li
								padding-bottom 10px
					div.col 
						margin-left -30px		
						ul
							li
								padding-bottom 10px
								text-align right 
								padding-right 12px
				div.border.amarillo
					border-top 1px solid #FBDC44 
					p.pp
						font-size: 25px;
						letter-spacing: 2px;
						font-weight: 200;
						line-height: 22px;
		@media(min-width: 500px)
			div
				div
					p.sub.back
						background: url("../img/Imagen9.png") no-repeat 80px 1px;
						height: 105px;
						margin-bottom: 15px;
						padding-top: 18px;
						font-size 20px
					div.top
						p.left
							text-align center
					div.row
						div.col-75
							ul.gris
								margin-left 75px
								li
									padding-bottom: 10px;
									border: solid 1px;
									padding: 10px;
									margin-bottom: 5px;
									width: 535px;
						div.col 
							ul
								margin-right 120px
								li
									margin-left -125px
									margin-bottom: 17px;
									margin-top: 5px;
									text-align right
					p.gris
						text-align center	
/* =========================== INTERNET Y REDES SOCIALES */
div.content-C_internet
	.container.internet
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.gris 
					text-align right
					font-size 10px
					margin-right 20px
					margin-bottom 20px
				p.grande.text 
					width 90%
					margin auto
					margin-top 10px
					span.verde 
						font-size 16px
					span.normal
						color #000
						font-weight 200
						font-size 22px
				img
					margin auto
					display block
					margin-top 20px
					margin-bottom 20px
				p.azul.en
					text-align center
					font-size 20px
					margin-top 30px
				div.row
					margin-left 10px
					div.col
						position relative
						margin-right: 225px;
						ul
							li 	
								img
									width 40px
								img.img
									width: 25px;
									margin-left: 8px;
					div.col-50
						margin-left -155px
						ul
							li
								margin-top 38px
								margin-left -25px
					div.col.numeros
						margin-left 40px
						margin-top -5px
						ul
							li
								margin-top 38px
								margin-left -25px
				p
					text-align center
				p.azul
					font-size 20px
				p.grande.negro
					color #000
					letter-spacing 2px
					margin-top -10px
				p.rs
					font-size 25px
					font-weight 200
				p.sub.back
					background: url("../img/Imagen9.png") no-repeat 0px 0px;
					background-size: cover;
					height: 48px;
					margin-top: 30px;
					padding-top: 4px;
				div.row.red
					margin-left 15px
					div.col-50.redesS
						ul
							li 
								margin-top 30px
								position relative
								img.rs
									width 25%
									position absolute
									left: -55px;
									top -31px
					div.col.por
						ul
							margin-left -35px
							margin-top -5px
							li 
								margin-top 30px
		@media(min-width: 500px)
			div
				div
					p.sub.back
						background: url("../img/Imagen9.png") no-repeat 85px 0px;
						height: 115px;
						margin-top: 30px;
						padding-top: 15px;
						font-size: 20px;
					div.row
						&.dispositivos
							margin-left 115px
						div.col 
							ul 
								li 
									img.img 
										margin-left 5px
					div.row.red
						div.col-50.redesS
							ul 
								li
									margin-left: 100px;
									padding-left: 40px;
									img.rs
										width 18%
					p.gris
						text-align center
/* =========================== TELEFONÍA CELULAR */
div.content-C_telefonia
	.container.telefonia
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.gris.up 
					text-align right
					font-size 10px
					margin-right 20px
					margin-bottom 20px
					margin-top -40px
				p.azul
					text-align center
					margin-top 20px
					font-weight bold
				p.azul.y 
							text-align center
							font-weight 200
				div.row
					div.col 
						img
							width 100%
							margin-left 10px
							margin-top 13px
					div.col-50
						ul
							li
								padding-top 10px
					div.col.por
						ul
							li
								padding-top 10px
								margin-left -20px
				div.img
					p.center
						border-top: 1px solid #fbdc44;
						margin-top: 20px;
						padding-top: 25px;
						width: 80%;
						margin: auto;
						color: #28ade3;
						font-weight bold
					img
						margin auto
						display block
						margin-top 20px
						padding-top 10px
						padding-bottom 20px
					p.sub.back
						background: url("../img/Imagen9.png") no-repeat 0px 0px;
						background-size: cover;
						height: 48px;
						margin-top 30px
						text-align center
						padding-top 5px
					div.row
						margin-left 20px
						div.col-75
							ul
								li
									padding-top 10px
						div.col
							ul
								margin-top -5px
								li
									padding-top 10px
		@media(min-width: 500px)
			div
				div
					div.img
						p.sub.back
							background: url("../img/Imagen9.png") no-repeat 80px 0px;
							height: 100px;
							margin-top: 30px;
							text-align: center;
							padding-top: 15px;
							font-size: 20px;
						p.gris
							text-align center
							margin 30px
						div.row 
							div.col-75
								ul.gris 
									margin-left 100px
/* =========================== TELEFONÍA CELULAR */
div.content-C_tecnologia
	.container.tecnologia
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p
					text-align center
					font-size: 16px;
					font-weight: 200;
					margin: 20px;
				div.row
					margin-left 25px
					div.col 
						ul
							li
								img
									width 70%
					div.col-75
						ul
							li
								padding-top 32.5px
								&.u
									padding-top 36.5px
								&.d 
									padding-top 45.5px
								&.s 
									padding-top 39.5px
		@media(min-width: 500px)
			div
				div
					p
						font-size 20px
					div.col-75
						ul
							li
								font-size 20px
								&.u
									padding-top 44.5px !important
								&.d 
									padding-top 115.5px !important
								&.c 
									padding-top 140.5px !important
								&.s 
									padding-top 95.5px !important
								&.ci 
									padding-top 100.5px !important
								&.si
									padding-top 100.5px !important
					div.col 
						ul 
							li 
								img 
									width 59% !important
					
/* =========================== SECRETO #1 */
div.content-secreto_1
	.container.secreto_1
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top 20px
				p.p
					text-align center
					margin-bottom 20px
					letter-spacing 2px
				div
					p.title
						background #000
						padding 10px
						color #fff
						text-align center
						margin auto
						width 53%
					img
						margin auto
						display block
						margin-top 15px
					div
						width 90%
						margin auto
						display block
						p
							font-size: 18px;
							font-weight: 200;
							text-align: -webkit-left;
							margin-bottom: 20px;
							margin-top: 20px;
		@media(min-width: 500px)
			div
				div
					div.contenido
						position relative
						height 735px
						div.content-uno
							position absolute
							width 30%
							top 20px
							left 30px
						div.content-dos
							position absolute
							margin auto
							display block
							width 30%
							left 0
							right 0
							bottom 0
							top 20px
						div.content-tres
							position absolute
							width: 30%;
							right: 30px;
							top: 20px;		
/* =========================== SECRETO #2 */
div.content-secreto_2
	.container.secreto_2
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top 20px
				img.hoja
					width 10%
				div
					h4
						background #49C3D7
						padding 10px
						color #fff
						text-align center
						margin auto
						width 53%
						margin-top 20px
						margin-bottom 20px
					p.gris
						font-size: 20px;
						font-weight: 200;
						letter-spacing: 1px;
						line-height: 25px;
						margin-left 65px
						margin-top: 25px;
					img
						margin auto
						display block
						width 80%
					div.row
						div.col-5	
							h2
								text-align left
								margin-left 10px
						ul.gris
							color: #807f7f;
							margin-left: 25px;
							font-weight: 200;
							list-style: inherit;
							font-size 12px
							li
								padding-bottom 10px
					p.ce
						text-align center
						font-weight: 200;
						font-size: 20px;
						margin-top: 15px;
						line-height: 23px;
						color #807F7F
						margin-left 0
					img.img
						width: 185px;
						margin-top: 35px;
		@media(min-width: 500px)
			div 
				div 
					p.gris
						text-align center
						margin-left 0px !important
					div.row 
						ul.gris 
							margin-left 135px !important
/* =========================== SECRETO #3 */
div.content-secreto_3
	.container.secreto_3
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top 20px
					font-weight bold
				img.cas 
					width 80%
				div
					p
						font-weight 200
						padding-top 15px
						width: 200px;
						margin: auto;
					h3.pro
						font-style italic
						margin-left: 20px;
						margin-bottom: -15px;
					h4.h4
						font-style italic
						margin-bottom: -15px;
						margin-left: 20px;
				h1.h1t.ellos
					font-size 20px
					font-weight 200
					span.bold
						font-size 20px
						margin-top 20px
				p.azul.italic.bold 
					text-align center
					margin-top 20px
					font-size: 20px;
					margin-bottom: -10px;
				button.button.button-icon.ion-plus-circled
					left: 0px;
					bottom: 0px;
					top 0px
					right 0px 
					margin auto
					display block
					width 200px
					font-size: 20px;
					color #28ADE3
				button.button.button-icon.ion-minus-circled
					left: 0px;
					bottom: 0px;
					top 0px
					right 0px 
					margin auto
					display block
					width 200px
					font-size: 20px;
					color #28ADE3
				div.none
					display none
					div.block
						display block
						div
							img 
								margin auto
								display block
								width 120px
								margin-top 20px
								&.ci
									margin-bottom 10px
								&.hoja
									width 35px
									margin-top 0px
							p
								text-align center
								font-size 15px
						p.bo
							text-align: center;
							font-size: 28px;
							border-top: 1px solid;
							border-bottom: 1px solid;
							padding: 10px;
							font-weight: 200;
							letter-spacing: 2px;
							line-height: 25px;
							width: 80%;
							margin: auto;
							margin-top: 20px;
							margin-bottom: 20px;
							span.bold
								font-size 20px
						ul
							margin-left 30px
							list-style inherit
							li
								margin-bottom 10px
								font-weight 200
								font-size 13px
						div
							p.fondo
								background: #28ADE3;
								padding: 10px;
								color: #fff;
								margin: auto;
								width: 200px;
								text-align: center;
								margin-bottom: 20px;
							ul
								margin 20px
								padding-left 30px
							img.i 
								margin auto 
								width 170px
						div.row
							margin-top -35px
							div.col
								.button.button-icon.icon.ion-trophy
									padding-top 30px
									margin-left 20px
							div.col-75
								p
									text-align: left;
									font-size: 13px;
									margin-left: 20px;
									margin-top: 25px;
						div
							p.back
								background: url("../img/flechas.png") no-repeat -15px;
								height: 100px;
								padding-top: 30px;
								font-size: 15px;
								letter-spacing: 2px;
								text-align: center;
							p.serv
								font-weight: 200;
								width 300px
								text-align: center;
								font-size: 15px;
								margin-bottom: 10px;
							p.gris.serv
								font-size: 13px;
								text-align: center;
								margin: auto;
								font-style: italic;
		@media(min-width: 500px)
			div
				div 
					h4.h4
						margin-left 275px !important
					div.none
						div.block
							ul
								margin auto
								width 250px	
							div
								p.back
									padding-right 135px
								ul
									margin auto
									width 250px
							div.row
								div.col 
									.button.button-icon.icon.ion-trophy
										margin-left 270px
								div.col-75
									p 
										margin-left 140px
						div.contenido
							margin-top 50px
							margin-left 270px
							margin-bottom 30px
						p
							width 380px
					img.cas
						position absolute
						top: 255px;
						left: 20px;
						width 32%
					button.button.button-icon.ion-plus-circled.plus
						top 11px
					button.button.button-icon.ion-minus-circled.plus
						top 11px
						margin-left: 363px;
						font-size: 40px;
					button.button.button-icon.ion-minus-circled
						top 0px
						margin-left: 363px;
						font-size: 40px;
/* =========================== SECRETO #4 */
div.content-secreto_4
	.container.secreto_4
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top 20px
					font-weight bold
				img.uno
					width 120px
					margin auto
					display block
					margin-top 15px
				div
					p
						text-align center
						margin-top 10px
					img.dos
						width 60px
						margin auto
						display block
						margin-bottom: 20px;
					img.tress
						width 240px
						margin auto
						display block
						margin-bottom: 20px;
						margin-top: 20px;
					p.mex
						font-size 22px
						font-weight 200
					p.black
						background #000
						margin auto
						color #fff
						width 200px
						padding 10px
						font-style italic
						font-size: 13px;
		@media(min-width: 500px)
			div
				div
					img.tress
						margin auto
						padding 20px
/* =========================== SECRETO #5 */
div.content-secreto_5
	.container.secreto_5
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				h1.azul.italic.bold
					margin-top 20px
				p.bold
					text-align center
					font-size 20px
					margin-top 20px
					font-weight bold
				div.row
					div.col-50
						margin-top 25px
						img
							margin auto
							display block
							width 90px
							margin-bottom 28px
							&.marca
								margin-bottom 10px
								margin-left 45px
							&.marca.top
								margin-top 60px
					div.col-50.adn
						p 
							color #fff
							background #000
							padding 10px
							margin auto
							display block
							width 120px
							text-align center
							font-style italic
							font-weight bold
						img 
							width 80px
							margin-right 50px
				div.img 
					p
						color #fff
						background #000
						padding 10px
						margin-left 160px
						display block
						width 120px
						text-align center
						font-style italic
						font-weight bold
						margin-bottom 20px
					img 
						width: 90%;
						margin: auto;
						display: block;
		@media(min-width: 500px)
			div
				div
					div.img 
						p 
							margin-left 510px
							margin-top 50px
						img 
							width 70%
							margin-top 25px
					div.row 
						div.col-50
							img 
								margin-left 265px !important
								&.adn
									margin-left 0px !important
							p 
								margin-left 0px !important
/* =========================== NUEVO LUJO 2 */
div.content-nuevo_lujo_2
	.container.nuevo_lujo_2
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div 
				div.row
					margin-top 20px
					div.col-50
						button 
							background: #F7E413
							border: none;
							border-radius: 5px;
							padding: 10px;
							margin-left 10px
							width: 120px;
							font-size: 14px;
							margin-bottom 20px
				h4
					text-align center
				p.italic
					margin-left 20px
					color #F7E413
					font-size: 18px;
					font-weight: bold;
				p.p
					text-align center
					font-weight bold
					font-size 16px
					margin-top 25px
					margin-bottom 20px
				p.li
					width: 85%;
					margin-left: 20px;
					font-weight: 200;
					font-size: 16px;
					margin-top: 20px;
					margin-bottom: 15px;
					line-height: 25px;
					border-top: solid 1px;
					padding-top: 5px
				md-radio-button
					.md-on
						background-color #36bece
				input
					margin 0 5px 0 20px
				div.total
					width: 80%;
					margin: auto;
					border-radius: 10px;
					height: 63px;
					padding-top: 1px;
					border: 1px solid #36bece;
					p.lis
						width: 85%;
						margin-left: 20px;
						font-weight: 200;
						&.t 
							color: #36bece;
							font-size: 26px;
							padding-right: 22px;
							width: 168px;
							margin-left: 37px;
							margin-top: 10px;
							width: 210px;
					.button.button-icon.icon.ion-checkmark-circled
						bottom: 46px;
						left: 17px;
						color: #36bece;					
				div
					p 
						text-align center
						margin-top 20px
						font-size 18px
						span.amarillo
							color 	#F7E413
							font-size 23px
							font-weight bold
							font-style italic
		@media(min-width: 500px)
			div 
				div 
					div.row 
						div.col-50 
							button 
								display block
								margin auto
					p.lis.t 
						margin auto
						display block
						width 550px !important
					.button.button-icon.icon.ion-checkmark-circled
						left: 180px !important
/* =========================== NUEVO LUJO 3 */
div.content-nuevo_lujo_3
	.container.nuevo_lujo_3
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				div.row
					margin-top 20px
					div.col-50
						button 
							background: #F7E413
							border: none;
							border-radius: 5px;
							padding: 10px;
							margin-left 10px
							width: 120px;
							font-size: 14px;
							margin-bottom 20px
				h4
					text-align center
				p.italic
					margin-left 20px
					color #F7E413
					font-size: 18px;
					font-weight: bold;
				p.p
					text-align center
					font-weight bold
					font-size 16px
					margin-top 25px
					margin-bottom 20px
				p.li
					width: 85%;
					margin-left: 20px;
					font-weight: 200;
					font-size: 16px;
					margin-top: 20px;
					margin-bottom: 15px;
					line-height: 25px;
					border-top: solid 1px;
					padding-top: 5px;
				md-radio-button
					.md-on
						background-color #36bece
				input
					margin 0 5px 0 20px
				div.total
					width: 80%;
					margin: auto;
					border-radius: 10px;
					height: 63px;
					padding-top: 1px;
					border: 1px solid #36bece;
					p.lis
						width: 85%;
						margin-left: 20px;
						font-weight: 200;
						&.t 
							color: #36bece;
							font-size: 26px;
							padding-right: 22px;
							width: 168px;
							margin-left: 37px;
							margin-top: 10px;
							width: 210px;
					.button.button-icon.icon.ion-checkmark-circled
						bottom: 46px;
						left: 17px;
						color: #36bece;	
				div
					p 
						text-align center
						margin-top 20px
						font-size 18px
						span.amarillo
							color 	#F7E413
							font-size 23px
							font-weight bold
							font-style italic
		@media(min-width: 500px)
			div 
				div 
					div.row 
						div.col-50 
							button 
								display block
								margin auto
					p.lis.t 
						margin auto
						display block
						width 550px !important
					.button.button-icon.icon.ion-checkmark-circled
						left: 180px !important
/* =========================== ACTIVIDADES */
div.content-actividades
	.container.actividades
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				p.p 
					text-align center
					line-height 17px
					margin-top -10px
					span.bold
						font-size 20px
				div.borde 
					border-top: 1px solid #fbdc44;
					margin-top: 15px;
					padding-top: 10px;
					margin-left: 20px;
					display: block;
					width: 85%;
					p 
						font-size: 23px;
						font-weight: 200;
						text-align: center;
						margin-bottom: 20px;
						line-height: 30px;
					div.row
						margin-top -10px
						div.col-75
							margin 0
				h1
					font-size 26px
					text-align center
				p.azul.bold 
					text-align center
					margin 20px 0
				div.row
					ul
						width 100%
						li 
							padding: 10px;
							border: solid 1px #807f7f;
							margin-bottom: 5px;
							font-size: 12px;
							position relative
							span.position
								position absolute
								right 15px
								color #807F7F
		@media(min-width: 500px)
			div
				div 
					div.borde 
						margin-left 55px
/* =========================== MENU CARACTERISTICAS DE CONSUMO */
div.content-submenuCaracteristicas
	ion-view
		.button.button-icon.icon
			left: 0px;
			color: #807f85;
			border-right: 1px solid #ddd
			width: 50px;
		a.item
			font-style: italic;
			font-family: GothamXLightItalic;
			padding-left 60px
			color: #807f7f;
		.icon.ion-ios7-arrow-right
			font-size 20px
			color: #278b96
/* =========================== MENU SECRETOS */
div.content-secretos_guardados
	ion-view
		.has-header
			background: #F8EDEB;
			.button.button-icon.icon
				left: 0px;
				color: #807f85;
				border-right: 1px solid #ddd
				width: 50px;
			a.item
				font-style: italic;
				font-family: GothamXLightItalic;
				padding-left 60px
				color: #807f7f;
			.icon.ion-ios7-arrow-right
				font-size 20px
				color: #278b96
/* =========================== PANTALLA INICIO */
div.content-boy 	
	.has-header
		background: #36bece;
	.scroll
		height 100%
	.container.boy
		height 100%
		/*background url(../img/fondo.png)*/
		background: #36bece url(../img/fondoazul.png);	
		img 
			margin auto
			display block
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			width 50%
			&.logo
				margin 0
				top inherit
				right inherit
				bottom 15px
				left 15px
				width 17%
		ul
			li 
				position absolute
				font-weight 200
				color #000
				font-family 'GothamXLightItalic'
				font-style italic
				a
					color #fff
					text-decoration none
					font-weight: bold;
					span
						font-style: normal;
						font-size: 13px;
						text-align: right;
						color: #fff;
						font-weight: 200;
				&.ns
					top 7%
					left 9%
					font-size 40px
				&.h
					top 12%
					right 6%
					font-size 26px 
				&.a 
					top 42%
					left 3%
					font-size 20px
				&.c 
					top 32%
					right 1%
					font-size 18px
				&.s
					top 63%
					left 3%
					font-size 30px
				&.t
					bottom: 12%;
					right: 4%;
					font-size: 20px;
				&.i
					bottom 22%
					right 5%
					font-size 20px
		@media(min-width: 500px)
			img.logo
				width: 20%;
			ul 
				li.c
					top: 32%;
					right: 5%;
					font-size: 30px;
				li.h 
					top: 12%;
					right: 15%;
					font-size: 30px;	
				li.t 
					bottom: 22%;
					right: 18%;
					font-size: 30px;
				li.s 
					top: 62%;
					left: 10%;
					font-size: 30px;
				li.a
					left: 10%;
					font-size: 30px;
				li.ns 
					top: 21%;
/* =========================== dlR group */
div.content-dlr_group
	.container.dlr_group
		border: 1px solid #36bece;
		margin: 10px;
		border-radius: 10px;
		padding-bottom 20px
		div
			div
				img 
					width: 35%;
					margin: auto;
					display: block;
					margin-top: 20px;
				p
					margin auto
					display block
					width 90%
					text-align center
					margin-top 30px
					color: #000
					font-size 13px
					&.direccion
						color #807f7f;
						font-style italic
					&.www
						color #28ADE3
						margin-top 5px
					&.t 
						margin-top 0px
						color #28ADE3
						button 
							color #28ADE3
							font-size: 22px;
							margin-top: -10px;
							bottom 5px
							span
								font-size 13px
					&.con 
						margin-top -10px
						color #807f7f;
						font-style italic
						span.name
							font-style normal
							font-weight bold
		@media(min-width: 500px)
			div 
				div 
					img 
						width 17%
/* =========================== login */
ion-content.has-header.content-Login
	img 
		width: 35%;
		margin: auto;
		display: block;
		margin-top: 20px;
		margin-bottom 20px
	input[type="password"]
		text-align center
//.cel
//	padding-left 286px
li.italic
	font-style italic
.tres
	width 180px!important
	margin-left -36px!important
.cuatro
	width 147px!important
		
.fix
	display inline-block!important
	position relative
	top 23%!important
.fixd
	position relative
	float right
	padding 0 
	margin 0 

@media(min-width: 560px)
	.tres
		margin-left: 10%!important;
	.vc
		margin-left: 0px!important;
		padding-bottom: 0px!important;
		ul
			width: 400px!important;
@media(min-width: 766px)
	.fix
		top 25%!important
	img.tres
		width 220px!important
	img.cuatro
		width 180px!important
		margin-left: 20% !important;
	.vc
		ul
			margin-left: 0px!important;
		li
			width: 85%!important;
			font-size 21px!important
	.ion-plus-circled
		font-size 40px!important
		left 88px!important
@media(min-width 1024px)
	.vc
		ul
			width: 100%!important;
		li
			font-size: 28px!important;
			line-height 35px!important
	.ion-plus-circled
		left: 133px!important;