*,
div,
p {
  margin: 0;
  padding: 0;
/*font-family 'Gotham Medium'*/
}
body,
html {
  size: 100%;
}
/* =========================== ESTILO GENERAL */
h1 {
  text-align: center;
  font-size: 17px;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.sub {
  color: #3cb8ce;
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.rojo {
  color: #bf3f27;
}
.azul {
  color: #28ade3;
}
.gris {
  color: #807f7f;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.espacio {
  padding-left: 50px;
}
.border {
  border-top: 1px solid #a7aaaa;
  margin: auto;
  width: 80%;
  padding: 20px;
  margin-top: 20px 20px 0px;
}
.grande {
  color: #3aadc1;
  font-size: 32px !important;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 10px;
}
/* =========================== NSE */
div.content-NSE .container.NSE div div h1:first-child {
  margin-top: 10px;
}
div.content-NSE .container.NSE div div p.p {
  margin-left: 20px;
  font-size: 20px;
}
div.content-NSE .container.NSE div div p.p .p_chiquita {
  font-size: 14px;
  margin-left: 30px;
}
div.content-NSE .container.NSE div div p.normal {
  font-size: 17px;
  text-align: center;
  margin: 0px;
}
div.content-NSE .container.NSE div div p.filtro {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
div.content-NSE .container.NSE div div img.igual {
  margin: auto;
  display: block;
  padding: 10px;
}
div.content-NSE .container.NSE div div p.verdadero {
  font-size: 17px;
}
div.content-NSE .container.NSE div div li.li {
  font-size: 17px;
  margin-top: 20px;
}
div.content-NSE .container.NSE div div .sueldo {
  margin-left: 37px;
  font-size: 18px;
  margin-top: 20px;
}
div.content-NSE .container.NSE div div img.piramide {
  width: 230px;
  display: block;
  margin: auto;
  padding-top: 20px;
}
div.content-NSE .container.NSE div div p.texto {
  width: 80%;
  margin: auto;
  font-size: 14px;
  font-weight: 500;
}
div.content-NSE .container.NSE div div p.texto.dos {
  font-weight: 200;
}
div.content-NSE .container.NSE div div div.line {
  border-top: solid 1px #3cb8ce;
  width: 50px;
  margin: 20px auto;
}
div.content-NSE .container.NSE div div h3 {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}
div.content-NSE .container.NSE div div img.puertas {
  width: 100%;
}
/* =========================== HISTORIAS DE VIDA */
div.content-Historias-vida .container.historias_vida div div div.row p {
  padding-top: 55px;
  font-weight: bold;
}
div.content-Historias-vida .container.historias_vida div div div.row p span.porcentaje {
  font-size: 50px;
  margin-left: 20px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.uno {
  width: 100%;
  margin-left: -30px;
}
div.content-Historias-vida .container.historias_vida div div img {
  margin: auto;
  display: block;
  padding: 10px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.chica {
  width: 100px;
  margin: 10px 0px;
}
div.content-Historias-vida .container.historias_vida div div div.row ul {
  margin-left: 40px;
  font-size: 16px;
  padding-bottom: 20px;
  list-style: inherit;
}
div.content-Historias-vida .container.historias_vida div div div.row ul li {
  margin-bottom: 10px;
}
div.content-Historias-vida .container.historias_vida div div div.row img.chica2 {
  width: 125px;
  display: block;
  margin: 10px -50px;
}
div.content-Historias-vida .container.historias_vida div div ul {
  list-style: inherit;
  width: 80%;
  margin: auto;
}
div.content-Historias-vida .container.historias_vida div div ul li {
  padding-bottom: 10px;
}
div.content-Historias-vida .container.historias_vida div div img.dos {
  width: 100%;
  margin-left: 20px;
}
/* =========================== Estado Civil y Educación */
div.content-C_estado_civil .container.estado_civil div div h1.subCatego {
  text-align: center;
}
div.content-C_estado_civil .container.estado_civil div div div {
  padding-bottom: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div p {
  text-align: center;
  font-size: 17px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow {
  border-top: 1px solid #fbdc44;
  margin-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow p.spacing {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #807f7f;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle {
  position: relative;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle p.vive {
  margin-left: -75px;
  margin-top: 5px;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle span.azul.nueve {
  font-size: 20px;
  font-weight: bold;
}
div.content-C_estado_civil .container.estado_civil div div div.border.yellow div.col-50.fle img.flecha {
  position: absolute;
  top: -5px;
  left: 50px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un {
  border-top: 1px solid #fbdc44;
  width: 80%;
  margin: auto;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.un {
  color: #807f7f;
  font-size: 26px;
  font-weight: bold;
  margin-top: 15px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.grande.ocho {
  text-align: left;
  margin-left: 15px;
}
div.content-C_estado_civil .container.estado_civil div div div.border-un p.sod {
  margin-left: -45px;
  text-align: left;
  font-size: 23px;
  font-weight: 200;
}
div.content-C_estado_civil .container.estado_civil div div p.est {
  font-style: italic;
  font-size: 20px;
  border-top: 1px solid #fbdc44;
  padding-top: 20px;
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
}
div.content-C_estado_civil .container.estado_civil div div ul {
  margin: auto;
  width: 200px;
  margin-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div ul li {
  padding-top: 10px;
}
div.content-C_estado_civil .container.estado_civil div div p.ext {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}
div.content-C_estado_civil .container.estado_civil div div img.grafica {
  width: 200px;
  margin: auto;
  display: block;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li {
  position: relative;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li ul.porcen {
  position: absolute;
  left: 215px;
  bottom: 10px;
}
div.content-C_estado_civil .container.estado_civil div div div.ul-li ul.porcen2 {
  position: absolute;
  left: 230px;
  bottom: 10px;
}
/* =========================== DEMOGRÁFICOS Y EDUCACIÓN */
div.content-C_demograficas .container.demograficos_edu div div p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
div.content-C_demograficas .container.demograficos_edu div div p.hijo {
  background: #e6c11f;
  width: 75%;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
div.content-C_demograficas .container.demograficos_edu div div img.grafica {
  width: 85%;
  margin: auto;
  display: block;
}
div.content-C_demograficas .container.demograficos_edu div div img.dos {
  width: 75%;
  margin: auto;
  display: block;
  margin-top: 10px;
}
div.content-C_demograficas .container.demograficos_edu div div p.p {
  font-size: 19px;
  width: 76%;
  margin: auto;
  line-height: 25px;
  font-weight: 200;
  border-bottom: 1px solid #fbdc44;
  padding-bottom: 15px;
}
div.content-C_demograficas .container.demograficos_edu div div p.p span.seis-tres.bold {
  font-size: 35px;
}
div.content-C_demograficas .container.demograficos_edu div div p span.lettering {
  font-size: 20px;
}
div.content-C_demograficas .container.demograficos_edu div div p span.lettering-dos {
  font-size: 25px;
}
/* =========================== HOGAR */
div.content-C_hogar .container.hogar div div p {
  text-align: center;
  font-size: 18px;
}
div.content-C_hogar .container.hogar div div p.p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-top: 20px;
}
div.content-C_hogar .container.hogar div div img {
  margin: auto;
  display: block;
}
div.content-C_hogar .container.hogar div div p.grande.amarillo {
  color: #e6c11f;
}
div.content-C_hogar .container.hogar div div p.font {
  font-size: 25px;
}
div.content-C_hogar .container.hogar div div p.left {
  text-align: left;
  margin-left: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}
div.content-C_hogar .container.hogar div div p.bold.grande.negro {
  line-height: 30px;
  color: #000;
}
div.content-C_hogar .container.hogar div div p.co {
  font-weight: 200;
  text-align: left;
  font-size: 23px;
  margin-left: -40px;
  margin-top: 12px;
}
div.content-C_hogar .container.hogar div div div.col ul {
  margin-left: -15px;
  margin-top: 20px;
}
div.content-C_hogar .container.hogar div div div.col-75 ul {
  border-left: 1px solid;
  padding-left: 10px;
  margin-left: 30px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* =========================== OCUPACIONES */
div.content-C_ocupaciones .container.ocupaciones div div p.p {
  padding-left: 65px;
  font-size: 18px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.border- {
  border-bottom: 1px solid #fbdc44;
  border-top: 1px solid #fbdc44;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}
div.content-C_ocupaciones .container.ocupaciones div div p.-p {
  padding-left: 28px;
  font-size: 18px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 {
  position: relative;
  margin-top: 20px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.coll {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  margin-left: -25px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.coll img {
  position: absolute;
  top: 23px;
  left: 95px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-50 p.sector {
  font-size: 23px;
  font-weight: 200;
}
div.content-C_ocupaciones .container.ocupaciones div div p.giro {
  width: 100px;
  background: #000;
  color: #fff;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-75 {
  margin-left: 30px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col-75 ul {
  color: #807f7f;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col {
  margin-left: -30px;
}
div.content-C_ocupaciones .container.ocupaciones div div div.col ul {
  color: #28ade3;
  font-weight: bold;
}
/* =========================== SERVICIOS BANCARIOS */
div.content-C_bancarios .container.bancarios div div p.te.center {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 {
  margin-left: 30px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 ul {
  color: #807f7f;
}
div.content-C_bancarios .container.bancarios div div div.row div.col-75 ul li {
  padding-top: 10px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col {
  margin-left: -30px;
}
div.content-C_bancarios .container.bancarios div div div.row div.col ul li {
  padding-top: 10px;
}
div.content-C_bancarios .container.bancarios div div p {
  text-align: center;
}
div.content-C_bancarios .container.bancarios div div p.banco {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 20px;
}
div.content-C_bancarios .container.bancarios div div p.promedio {
  border-top: 1px solid #fbdc44;
  padding-top: 15px;
  width: 80%;
  margin: auto;
}
div.content-C_bancarios .container.bancarios div div div.relative {
  position: relative;
  height: 165px;
}
div.content-C_bancarios .container.bancarios div div div.relative p.span {
  font-size: 36px;
  line-height: 34px;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #fbdc44;
  margin: auto;
}
div.content-C_bancarios .container.bancarios div div div.relative p.span span.ps {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 23px;
}
div.content-C_bancarios .container.bancarios div div div.col-75 {
  margin-left: 30px;
}
div.content-C_bancarios .container.bancarios div div div.col-75 p.pb {
  text-align: center;
}
div.content-C_bancarios .container.bancarios div div div p.op {
  font-size: 33px;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 200;
}
div.content-C_bancarios .container.bancarios div div div p.op span.bold.f {
  font-size: 27px;
  letter-spacing: normal;
}
div.content-C_bancarios .container.bancarios div div p.grande.borde {
  border-top: 1px solid #fbdc44;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
/* =========================== CONSUMO DE MEDIOS */
div.content-C_medios .container.medios div div p.italic {
  text-align: center;
}
div.content-C_medios .container.medios div div img {
  width: 50%;
  margin: auto;
  display: block;
}
div.content-C_medios .container.medios div div div p {
  text-align: center;
  font-size: 16px;
}
div.content-C_medios .container.medios div div div p span.bold.p2 {
  font-size: 28px;
}
div.content-C_medios .container.medios div div div p span.bold.esp {
  font-size: 25px;
  letter-spacing: 4px;
}
div.content-C_medios .container.medios div div div p span.servicio {
  font-size: 25px;
}
div.content-C_medios .container.medios div div div.top {
  border-top: 1px solid #fbdc44;
  margin: auto;
  width: 80%;
  margin-top: 10px;
}
div.content-C_medios .container.medios div div div.top p.left {
  text-align: left;
  margin-left: 20px;
}
div.content-C_medios .container.medios div div p {
  text-align: center;
}
div.content-C_medios .container.medios div div p.lee {
  font-style: italic;
  border-top: 1px solid #fbdc44;
  margin: auto;
  width: 80%;
  margin-top: 10px;
  padding-top: 30px;
}
div.content-C_medios .container.medios div div p.Portada {
  width: 80%;
  margin: auto;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 30px;
}
div.content-C_medios .container.medios div div p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-bottom: 21px;
}
div.content-C_medios .container.medios div div div.row div.col-75 {
  margin-left: 30px;
}
div.content-C_medios .container.medios div div div.row div.col-75 ul li {
  padding-bottom: 10px;
}
div.content-C_medios .container.medios div div div.row div.col {
  margin-left: -30px;
}
div.content-C_medios .container.medios div div div.row div.col ul li {
  padding-bottom: 10px;
}
div.content-C_medios .container.medios div div div.border.amarillo {
  border-top: 1px solid #fbdc44;
}
div.content-C_medios .container.medios div div div.border.amarillo p.pp {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 22px;
}
/* =========================== INTERNET Y REDES SOCIALES */
div.content-C_internet .container.internet div div p.grande span.verde {
  font-size: 16px;
}
div.content-C_internet .container.internet div div p.grande span.normal {
  color: #000;
  font-weight: 200;
  font-size: 22px;
}
div.content-C_internet .container.internet div div img {
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.content-C_internet .container.internet div div p.azul.en {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
div.content-C_internet .container.internet div div div.row {
  margin-left: 15px;
}
div.content-C_internet .container.internet div div div.row div.col {
  position: relative;
  margin-right: 225px;
}
div.content-C_internet .container.internet div div div.row div.col ul li img {
  width: 40px;
}
div.content-C_internet .container.internet div div div.row div.col ul li img.img {
  width: 25px;
  margin-left: 8px;
}
div.content-C_internet .container.internet div div div.row div.col-50 {
  margin-left: -155px;
}
div.content-C_internet .container.internet div div div.row div.col-50 ul li {
  margin-top: 38px;
  margin-left: -25px;
}
div.content-C_internet .container.internet div div div.row div.col.numeros {
  margin-left: 40px;
  margin-top: -5px;
}
div.content-C_internet .container.internet div div div.row div.col.numeros ul li {
  margin-top: 38px;
  margin-left: -25px;
}
div.content-C_internet .container.internet div div p {
  text-align: center;
}
div.content-C_internet .container.internet div div p.azul {
  font-size: 20px;
}
div.content-C_internet .container.internet div div p.grande.negro {
  color: #000;
  letter-spacing: 2px;
  margin-top: -10px;
}
div.content-C_internet .container.internet div div p.rs {
  font-size: 25px;
  font-weight: 200;
}
div.content-C_internet .container.internet div div p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-top: 30px;
}
div.content-C_internet .container.internet div div div.row div.col-50.redesS ul li {
  margin-top: 10px;
}
div.content-C_internet .container.internet div div div.row div.col.por ul {
  margin-left: -50px;
  margin-top: -5px;
}
div.content-C_internet .container.internet div div div.row div.col.por ul li {
  margin-top: 10px;
}
/* =========================== TELEFONÍA CELULAR */
div.content-C_telefonia .container.telefonia div div p.azul {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
div.content-C_telefonia .container.telefonia div div p.azul.y {
  text-align: center;
  font-weight: 200;
}
div.content-C_telefonia .container.telefonia div div div.row div.col img {
  width: 100%;
  margin-left: 10px;
  margin-top: 13px;
}
div.content-C_telefonia .container.telefonia div div div.row div.col-50 ul li {
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.row div.col.por ul li {
  padding-top: 10px;
  margin-left: -20px;
}
div.content-C_telefonia .container.telefonia div div div.img img {
  margin: auto;
  display: block;
  border-top: 1px solid #fbdc44;
  margin-top: 20px;
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.img p.sub.back {
  background: url("../img/Imagen9.png") no-repeat 0px 0px;
  background-size: cover;
  height: 52px;
  margin-top: 30px;
  text-align: center;
  padding-top: 5px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row {
  margin-left: 20px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col-75 ul li {
  padding-top: 10px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col ul {
  margin-top: -5px;
}
div.content-C_telefonia .container.telefonia div div div.img div.row div.col ul li {
  padding-top: 10px;
}
/* =========================== TELEFONÍA CELULAR */
div.content-C_tecnologia .container.tecnologia div div p {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  margin: 20px;
}
div.content-C_tecnologia .container.tecnologia div div div.row {
  margin-left: 25px;
}
div.content-C_tecnologia .container.tecnologia div div div.row div.col ul li img {
  width: 70%;
}
div.content-C_tecnologia .container.tecnologia div div div.row div.col-75 ul li {
  padding-top: 25.5px;
}
