div.content-actividades
	ion-view(title="Actividades")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-coffee
		ion-content.has-header
			.container.actividades
				div
					div
						h1.h1t VACACIONES Y VIAJES
						h2 Aproximadamente
						p.p TOMAN AL AÑO 
							span.azul 28 DÍAS<br>
							span.bold DE VACACIONES
						div.borde 
							p En promedio realizan 
								span.azul 3 
								span.bold viajes internacionales y 
								span.azul 4 
								span.bold nacionales al año.
						div.borde 
							h2 LOS DESTINOS<br> INTERNACIONALES
							p más reportados son: 
							div.row
								div.col-75
									ul 
										li Estados Unidos
										li Europa 
										li América del Sur
								div.col-25
									ul 
										li.azul.bold (78%)
										li.azul.bold (32%)
										li.azul.bold (10%)
							h2 LOS DESTINOS NACIONALES:
							p más reportados son:
							div.row
								div.col-75
									ul 
										li Cancún 
										li Acapulco
										li Pto Vallarta
								div.col-25
									ul 
										li.azul.bold (50%)
										li.azul.bold (23%)
										li.azul.bold (22%)
						h1.azul MOTIVOS DE VIAJE
							//
								SLIDER
						p.azul.bold REALIZAN HASTA 12 ACTIVIDADES DIFERENTES EN UN MES
						div.row
							ul 
								li Una fiesta o reunión con amigos o familiares 
									span.position 89
								li Ir a un restaurante, fonda o local de comida
									span.position 86
								li Ir  de compras al centro comercia
									span.position 85
								li Ir al cine 
									span.position 82
								li Ir a tomar un café / helado 
									span.position 77
								li Ir a un bar o cantina 
									span.position 70
								li Ir a pasear a un centro comercial 
									span.position 70
								li Ir a pasear al parque o a la plaza
									span.position 60
								li Ir de vacaciones 
									span.position 60
								li Ir a un concierto 
									span.position 57
								li Ir al club a realizar algún deporte
									span.position 57
								li Ir al templo / misa 
									span.position 55
								li Ir a un evento deportivo
									span.position 46
								li Ir a un museo o exposición cultural
									span.position 46
								li Ir de compras fuera de México
									span.position 44
								li Ir a un antro
									span.position 35
								li Ir al teatro
									span.position 35
								li Organizar un evento o fiesta
									span.position 33
								li Ir a un spa 
									span.position 31
								li Ir a un club a socializar
									span.position 31
								li Ir a una cata de vinos
									span.position 25
								li Ir evento de una marca
									span.position 23
								li Ir a desfile de modas
									span.position 11
								li Cocinar con un chef
									span.position 11