div.content-C_bancarios
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.bancarios
				div
					div
						h1.h1t SERVICIOS BANCARIOS
						p.te.center El 
							span.azul 98% <br> 
							|cuenta con servicios bancarios.
						h2.sub ¿Que servicios tienen?
						div.row
							div.col-75
								ul
									li Tarjeta de crédito
										span.position 99
									li Tarjeta de débito
										span.position 88
									li Cuenta de cheques
										span.position 80
									li Inversiones
										span.position 67
									li Afores
										span.position 54
									li Tarjeta de nómina
										span.position 38
									li Créditos (de auto,<br>hipotecario)
										span.position 38
									li Préstamos, en efectivo
										span.position 18
						p.grande Utilizan 5 servicios
						p.banco bancarios en promedio.
						div.relative
							p.promedio En promedio cuentan con
							p.span
								span.grande 4 
								span.negro tarjetas de 
								span.bold crédito y 
								span.grande 2 
								span.ps tarjetas de débito.
						p.pb.bold LAS TARJETAS DE CRÉBITO
						p que más utilizan son:
						div.row
							div.col-75
								ul 
									li Banamex 
									li AMEX
									li Bancomer
							div.col
								ul.azul 
									li (61%)
									li (49%)
									li (41%)
						p.pb.bold LAS TARJETAS DE DÉBITO
						p que más utilizan son:
						div.row
							div.col-75
								ul 
									li Banamex 
									li Bancomer
							div.col
								ul.azul 
									li (48%)
									li (36%)
						div
							p.grande.borde 7 de cada 10
							p.op operaciones<br> bancarias 
								span.bold.f las<br> realizan en línea.