.container.Caracteristicas.Bancarios
	div
		div
			h1 SERVICIOS BANCARIOS 
			p El 98%<br>cuenta con servicios bancarios.
			h2.sub ¿Que servicios tienen?
			ul 
				li Tarjeta de crédito
				li Tarjeta de débito
				li Cuenta de cheques
				li Inversiones
				li Afores
				li Tarjeta de nómina
				li Créditos (de auto,<br> hipotecario)
				li Préstamos, en efectivo
			ul 
				li 99
				li 88
				li 80
				li 67
				li 54
				li 38
				li 38
				li 18
			p.grande Utilizan 5 servicios
			p bancarios en promedio.
			div
				p En promedio cuentan con
				p
					span.grande 4
					span.negro tarjetas de
					span.bold crédito y
					span.grande 2
					|tarjetas de débito.
			div
				p.bold LAS TARJETAS DE CRÉBITO<br>
					span.p-normal que más utilizan son:<br>
					|Banamex 
					span.verde (61%)<br>
					|AMEX 
					span.verde (49%)<br>
					|Bancomer
					span.verde (41%)
			div
				p.bold LAS TARJETAS DE DÉBITO<br>
					span.p-normal que más utilizan son:<br>
					|Banamex 
					span.verde (48%)<br>
					|Bancomer
					span.verde (36%)
			div
				p.grande 7 de cada 10
				p operaciones<br> bancarias
					span.bold las<br> realizan en línea.

