div.content-C_demograficas
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.demograficos_edu
				div
					div
						h1.h1t DEMOGRÁFICOS Y EDUCACIÓN
						div.row
							div.col-50
								p.hijo HIJOS
							div.col-50
								p.hijo Números de<br>hijos
						div.row
							div.col
								canvas(piechart options="options" data="chart2" width="100" height="100")
								//img.grafica(src="./img/grafica2.png")
							div.col
								img.dos(src="./img/dos.png")
						p.p
							span.seis-tres.bold 63%
							|tiene hijos que actualmente asiste a la escuela.
						div
							p.grande 9 de cada 10
							p
								span.lettering declaró que sus hijos<br> 
								|estudian en su país y sólo
							p.grande 1 de cada 10
							p mencionó que estudian<br> 
								span.lettering-dos en el extranjero.