.container.Caracteristicas.demográficas_educación
	div
		div
			h1 DEMOGRÁFICOS Y EDUCACIÓN
			div.row
				div.col
					p hijos
				div.col
					p Números de<br>hijos
			div.row
				div.col
					img(srec="")
				div.col
					img(srec="")
			p
				span 63%
				|tiene hijos que actualmente asiste a la escuela.
			div
				p.grande 9 de cada 10
				p declaró que sus hijos<br> estudian en su país y sólo
				p.grande 1 de cada 10
				p mencionó que estudian<br> en el extranjero.