div.content-C_estado_civil
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.Caracteristicas.estado_civil
				div
					div
						h1.h1t.subCatego ESTADO CIVIL Y EDUCACIÓN
						div
							p.grande 7 de cada 10
							p personas están casadas
						div.border.yellow
							p.grande 1 de cada 10
							p.spacing.gris son solteras
						div.border.yellow
							div.row
								div.col-50.fle
									p.vive Sólo el
									span.azul.nueve 9%
										img.flecha(src="./img/flecha.png")
								div.col-50
									p.espacio vive en<br>unión libre.
						div.border-un
							p.un ÚNICAMENTE EL
							div.row
								div.col-50
									p.grande.ocho 8%
								div.col.col-50
									p.sod está separado<br> o divorciado.
						p.est.azul Último año de estudios
						ul
							li Licenciatura incompleta 
							li Licenciatura completa 	
							li Especialidad incompleta 	
							li Especialidad completa 	
						div.ul-li
							ul.porcen2.azul
								li 2%
								li 36%
								li 51%
								li 11%
						p.ext El  
							span.azul 60% 
							|realizó alguno de sus estudios<br>en el extranjero
							div.row
								div.col-offset-10.col-80
									canvas(piechart options="options" data="chart0" width="100" height="100")
						//img.grafica(src="./img/grafica.png")
						ul 
							li Maestría			
							li Diplomado		
							li Licenciatura		
							li Especialidad		
							li Doctorado		
							li Preparatoria		
							li Otro		
						div.ul-li
							ul.porcen.azul
								li 22%
								li 19%
								li 13%
								li 12%
								li 8%
								li 7%
								li 10%
							
						







