div.content-C_estado_civil
	ion-view(title="C. de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		ion-content.has-header
			.container.Caracteristicas.estado_civil
				div
					div
						h1.subCatego ESTADO CIVIL Y EDUCACIÓN
						div
							p.grande 7 de cada 10
							p personas están casadas.
						div.border.yellow
							p.grande 1 de cada 10
							p.spacing.gris son solteras
						div.border.yellow
							div.row
								div.col-50.fle
									p.vive Sólo el
									span.azul.nueve 9%
										img.flecha(src="./img/flecha.png")
								div.col-50
									p vive en<br>unión libre.
						div.border-un
							p.un ÚNICAMENTE EL
							div.row
								div.col-50
									p.grande.ocho 8%
								div.col.col-50
									p.sod está separado<br> o divorciado.
						p Último año de estudios
						ul
							li Licenciatura incompleta	2%
							li Licenciatura completa	36%
							li Especialidad incompleta	51%
							li Especialidad completa	11%
						p El 
							span 60%
							|realizó alguno de sus estudios<br>en el extranjero
						img(src="")
						ul 
							li Maestría			22%
							li Diplomado		19%
							li Licenciatura		13%
							li Especialidad		12%
							li Doctorado		8%
							li Preparatoria		7%
							li Otro				10%

						







