.container.Caracteristicas.hogar
	div
		div
			h1 HOGAR 
			p El 93% tiene casa propia
			img(src="")
			p.grande.amarillo 1 de cada 10
			p la pagaron ellos mismos
			p.grande 2 de cada 10
			p la pagaron con alguién más
			p.grande.amarillo 1 de cada 10
			p la sigue pagando
			p.grande SÓLO EL 7%
			p declaró haber heredado<br> su casa.
			div.row
				div.col
					p.bold.grande.negro EL<br>4%
				div.col.col-75
					p recibió su casa<br> como un regalo<br> familiar.
			h2 ESPACIOS
			div.row.margin
				div.col-75
					ul
						li Centro de lavado<br> y planchado 
						li Family room
						li Estudio/oficina
						li Habitaciones para<br>servicio doméstico
						li Sala/recibidor<br>independiente al<br>resto de la casa
						li Cantina/bar
						li Cuarto de juegos/<br>Ludoteca
						li Cava de vinos
						li Biblioteca
						li Alberca
						li Gimnasio
						li Vapor
						li Cine
						li Sauna
						li Cancha de tennis
						li Sala para<br>fumadores
				div.col
					ul
						li 89
						li 87
						li 83
						li 78
						li 64
						li 54
						li 40
						li 35
						li 33
						li 32
						li 28
						li 13
						li 11
						li 8
						li 5
						li 4

