div.content-C_hogar
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.hogar
				div
					div
						h1.h1t HOGAR 
						p.p El 
							span.azul 93% 
							|tiene casa propia
						//img(src="./img/grafica3.png")
						div.row
								div.col-offset-10.col-80
									canvas(piechart options="options" data="chart3" width="100" height="100")
						p.gris Porcentaje que cuentan con casa propia			
						p.grande.amarillo 1 de cada 10
						p la pagaron ellos mismos
						p.grande 2 de cada 10
						p la pagaron con alguién más
						p.grande.amarillo 1 de cada 10
						p.font la sigue pagando
						p.grande SÓLO EL 7%
						p.left declaró haber heredado<br> su casa
						div.row
							div.col-50
								p.bold.grande.negro EL<br>4%
							div.col.col-50
								p.co recibió su casa<br> como un regalo<br> familiar
						h2.es ESPACIOS
						div.row.margin
							div.col-75
								ul
									li Centro de lavado<br> y planchado
										span.position 89%
									li.italic Family room
										span.position 87%
									li Estudio/oficina
										span.position 83%
									li Habitaciones para<br>servicio doméstico
										span.position 78% 
									li Sala/recibidor<br>independiente al<br>resto de la casa
										span.position 64%
									li Cantina/bar
										span.position 54% 
									li Cuarto de juegos/<br>Ludoteca
										span.position 40%
									li Cava de vinos
										span.position 35%
									li Biblioteca
										span.position 33%
									li Alberca
										span.position 32%
									li Gimnasio
										span.position 28%
									li Vapor
										span.position 13%
									li Cine
										span.position 11%
									li Sauna
										span.position 8%
									li Cancha de tennis
										span.position 5%
									li Sala para<br>fumadores
										span.position 4%

