.container.Caracteristicas.Internet
	div
		div
			h1 INTERNET Y REDES SOCIALES
			p.grande EL 100% TIENE
				span.verde ACCESO A<br> INTERNET
				span.normal En promedio tiene 3<br> diferentes acceso a internet.
			img(src="")
			p.verde EN PROMEDIO NAVEGAN
			P.grande EN 4 DISPOSITIVOS
			ul 
				li 
					img(src="") 
					|Computadora<br>personal 82
				li 
					img(src="") 
					|Tablet 81
				li 
					img(src="") 
					|Smartphone 77
				li 
					img(src="") 
					|Computadora<br>de escritorio 62
				li 
					img(src="") 
					|TV última<br>generación 31
				li 
					img(src="") 
					|Apple TV 20
				li 
					img(src="") 
					|Consola de video<br>juegos 16
			p.verde En promedio tienen
			p.bold 3 CUENTAS
			p de redes sociales!
			p ¿Que redes sociales tienen?
			ul
				li 
					img(src="") 
					|Facebook 88%
				li 
					img(src="") 
					|Twitter 64%
				li 
					img(src="") 
					|Linkedin 58%
				li 
					img(src="") 
					|Instagram 35%
				li 
					img(src="") 
					|Hi 5 8%
				li 
					img(src="") 
					|Flickr 7%
				li 
					img(src="") 
					|My space 7%
				li 
					img(src="") 
					|Vine 4%
				li 
					p Otro 5%
				li
					p Ninguna 7%
