div.content-C_internet
	ion-view(title="C. de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-thin-left(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.internet
				div
					div
						h1.h1t INTERNET Y REDES SOCIALES 
						p.grande EL 100% TIENE 
							span.verde ACCESO<br> A INTERNET 
							span.normal En promedio tiene 3<br> diferentes acceso a internet.
						img(src="./img/grafica6.png")
						p.azul.en EN PROMEDIO NAVEGAN
						P.grande EN 4 DISPOSITIVOS
						div.row
							div.col
								ul 
									li 
										img(src="./img/Imagen10.png") 
									li 
										img(src="./img/Imagen11.png") 
									li 
										img.img(src="./img/Imagen12.png") 
									li 
										img(src="./img/Imagen13.png") 
									li 
										img(src="./img/Imagen14.png") 
									li 
										img(src="./img/Imagen15.jpg") 
									li 
										img(src="./img/Imagen16.png") 
							div.col-50
								ul
									li Computadora personal 
									li Tablet
									li Smartphone
									li Computadora de escritorio
									li TV última generación
									li Apple TV
									li Consola de video juegos 
							div.col.numeros
								ul
									li 82
									li 81
									li 77
									li 62
									li 31
									li 20
									li 16
						p.azul En promedio tienen
						p.grande.negro 3 CUENTAS
						p.rs de redes sociales!
						p.sub.back ¿Que redes sociales tienen?
						div.row
							div.col
								ul
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
										img(src="") 
									li 
									li
							div.col-50.redesS
								ul
									li Facebook
									li Twitter
									li Linkedin
									li Instagram
									li Hi 5
									li Flickr
									li My space
									li Vine
									li Otro
									li Ninguna
							div.col.por
								ul
									li 88%
									li 64%
									li 58%
									li 35%
									li 8%
									li 7%
									li 7%
									li 4%
									li 5%
									li 7%