div.content-C_medios
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.medios
				div
					div
						h1.h1t MEDIOS
						p.italic TV por paga en el hogar
						div.row
							div.col-offset-10.col-80
								canvas(piechart options="options" data="chart4" width="100" height="100")
								//img(src="./img/grafica4.png")
						p.gris Porcentaje de uso de TV en el hogar
						div
							p.grande 6 de cada 10
							p tiene servicios de televisión<br>
								span.bold.p2 On line. 
								|En promedio<br>
								span.servicio tienen 3 servicios<br>
								span.bold.esp contratados
						div.top
							p.grande 8 de cada 10
							p.left NETFLIX NACIONAL
						div.top
							p.grande 5 de cada 10
							p.left APPLE TV
						div.top
							p.grande 4 de cada 10
							p.left iTUNES
						p.italic.lee Lectura de periódicos
						div.row
							div.col-offset-10.col-80
								canvas(piechart options="options" data="chart5" width="100" height="100")
								//img(src="./img/grafica5.png")
						p.gris Porcentaje de lectura de periódicos
						p.azul LAS SECCIONES MÁS<br> CONSULTADAS SON:
						p.Portada Portada 
							span.azul (85%) 
							|Internacionales 
							span.azul (85%) 
							|Nacional 
							span.azul (84%) 
							|Economía 
							span.azul (72%) 
							|Deportes 
							span.azul (54%) 
							|Local 
							span.azul (52%) 
							|Cultura 
							span.azul (50%)   
						p.sub.back ¿Que periódicos leen?
						div.row
							div.col-75
								ul.gris
									li Reforma
									li El Universal  
									li Excélsior
									li El Financiero
									li El Norte
									li Milenio
									li La Jornada
									li Mural
									li El País
									li El Informador
									li El Economista
							div.col 
								ul.azul 
									li 39%
									li &nbsp;&nbsp;&nbsp;26%
									li 15%
									li &nbsp;&nbsp;&nbsp;&nbsp;12%
									li 11%
									li 10%
									li &nbsp;&nbsp;&nbsp;7%
									li 6%
									li 5%
									li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5%
									li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4%
						div.border.amarillo
							p.grande 7 de cada 10
							p.pp
								span.bold lee revistas<br>
								|En promedio<br> leen 
								span.azul 2 
								|revistas
