.container.Caracteristicas.Medios
	div
		div
			h1 CONSUMO DE MEDIOS
			p TV por paga en el hogar
			img(src="")
			div
				p.grande 6 de cada 10
				p tiene servicios de televisión<br>
					span.bold On line. 
					|En promedio<br>
					|tienen 3 servicios<br>
					span.bold contratados.
			div
				p.grande 8 de cada 10
				p NETFLIX NACIONAL
			div
				p.grande 5 de cada 10
				p APPLE TV
			div
				p.grande 4 de cada 10
				p ITUNES
			p Lectura de periódicos
			img(src="")
			p LAS SECCIONES MÁS<br> CONSULTADAS SON:
			p Portada
				span.verde (85%)
				|Internacionales
				span.verde (85%)
				|Nacional
				span.verde (84%)
				|Economía
				span.verde (72%)
				|Deportes
				span.verde (54%)
				|Local
				span.verde (52%)
				|Cultura
				span.verde (50%)  
			p.sub ¿Que periódicos leen?
			ul
				li Reforma
				li El universal
				li Excélsior
				li El financiero
				li El norte
				li Milenio
				li La jornada
				li Mural
				li El país
				li El informador
				li El economista
			ul 
				li 39%
				li 26%
				li 15%
				li 12%
				li 11%
				li 10%
				li 7%
				li 6%
				li 5%
				li 5%
				li 4%
			div
				p.grande 7 de cada 10
				p
					span.bold lee revistas<br>
					|En promedio<br> leen 2 revistas!
