div.content-C_medios
	ion-view(title="C. de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-thin-left(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.medios
				div
					div
						h1.h1t CONSUMO DE MEDIOS
						p.italic TV por paga en el hogar
						img(src="./img/grafica4.png")
						div
							p.grande 6 de cada 10
							p tiene servicios de televisión<br>
								span.bold.p2 On line. 
								|En promedio<br>
								span.servicio tienen 3 servicios<br>
								span.bold.esp contratados.
						div.top
							p.grande 8 de cada 10
							p.left NETFLIX NACIONAL
						div.top
							p.grande 5 de cada 10
							p.left APPLE TV
						div.top
							p.grande 4 de cada 10
							p.left ITUNES
						p.lee Lectura de periódicos
						img(src="./img/grafica5.png")
						p.azul LAS SECCIONES MÁS<br> CONSULTADAS SON:
						p.Portada Portada 
							span.azul (85%) 
							|Internacionales 
							span.azul (85%) 
							|Nacional 
							span.azul (84%) 
							|Economía 
							span.azul (72%) 
							|Deportes 
							span.azul (54%) 
							|Local 
							span.azul (52%) 
							|Cultura 
							span.azul (50%)   
						p.sub.back ¿Que periódicos leen?
						div.row
							div.col-75
								ul.gris
									li Reforma
									li El universal
									li Excélsior
									li El financiero
									li El norte
									li Milenio
									li La jornada
									li Mural
									li El país
									li El informador
									li El economista
							div.col 
								ul.azul 
									li 39%
									li 26%
									li 15%
									li 12%
									li 11%
									li 10%
									li 7%
									li 6%
									li 5%
									li 5%
									li 4%
						div.border.amarillo
							p.grande 7 de cada 10
							p.pp
								span.bold lee revistas<br>
								|En promedio<br> leen 
								span.azul 2 
								|revistas!
