div.content-C_ocupaciones
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.ocupaciones
				div
					div
						h1.h1t PRINCIPALES OCUPACIONES 
						p.grande 5 de cada 10
						p.p es dueño de su propia<br>empresa
						p.grande 3 de cada 10
						p.p es empleado en el sector<br> privado de una empresa<br> no familiar
						div.border-
							p.grande 1 de cada 10
							p.-p es empleado en el sector público
						div.row
							div.col-50
								p.coll Sólo<br> el 
									span.azul 5%
									img(src="./img/flecha.png")
							div.col-50
								p.sector es empleado<br> en el sector<br> privado en<br> una empresa<br> familiar
						p.giro Giro de la<br> Empresa
						div.row
							div.col-75
								ul
									li Servicios
									li Consultoría
									li Construcción
									li Servicios financieros
									li Venta
									li Manufactura
									li Alimentos
									li Salud
									li Bienes
									li Educación
							div.col
								ul 
									li 56%
									li 5%
									li 4%
									li 4%
									li 10%
									li 9%
									li 7%
									li 6%
									li 5%
									li 4%
