div.content-C_tecnologia
	ion-view(title="C. tecnologia")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.tecnologia
				div
					div
						h1 TECNOLOGÍA
						p Parece que compran tecnología<br> al 2x1, en promedio tienen 2 <br>de los siguientes aparatos en casa.
						div.row
							div.col
								ul
									li
										img(src="")
									li
										img(src="")
									li
										img(src="")
									li
										img(src="")
									li
										img(src="")
							div.col-75
								ul
									li	Computadora Portátil
									li	Computadora de Escritorio
									li	Tablet
									li	Pantalla de última generación con internet
									li 	Pantalla plana de plasma o led
									li 	Televisión (no pantalla plana)