.container.Caracteristicas.tecnología
	div
		div
			h1 TECNOLOGÍA
			p Parece que compran tecnología<br> al 2x1, en promedio tienen 2 <br>de los siguientes aparatos en casa.
			ul
				li
					img(src="")
					|Computadora Portátil
				li
					img(src="")
					|Computadora de escritorio
				li
					img(src="")
					|Tablet
				li
					img(src="")
					|Pantalla plana de<br> plasma o led
				li
					img(src="")
					|Televisión (no<br>pantalla plana)