div.content-C_telefonia
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.telefonia
				div
					div
						h1.h1t TELEFONÍA CELULAR
						p.azul TODOS TIENEN SMARTPHONE
						p.azul.y LAS COMPAÑÍAS CON MAYORES<br> USUARIOS REPORTADOS SON:
						div.row
							div.col
								img(src="./img/Imagen18.png")
							
							div.col.col-50
								ul
									li 
										p Telcel 
									li
										p Iusacel 
									li
										p Nextel  
									li
										p Movistar 
							div.col.por
								ul 
									li.azul (76%) 
									li.azul (12%)
									li.azul (6%)
									li.azul (5%)
						div.img
							p.center MÉTODO DE PAGO(%)
							div.row
								div.col-offset-10.col-80
									canvas(barchart options="options" data="chart7" width="100" height="100")
							//img(src="./img/grafica7.png")
							p.sub.back Usos que le dan al celular 
							div.row
								div.col-75
									ul.gris
										li Recibir o hacer llamdas
										li Usat mensajería instantánea<br> tipo (BB, messenger o whatsapp)
										li Revisar correo electrónico
										li Tomar fotos
										li Enviar mensajes SMS
										li Navegar en Internet
										li Consultar como llegar<br>a una dirección
										li Entrar en las redes sociales
										li Usar aplicaciones
										li Escuchar música
										li Tomar video
										li Jugar jueguitos
										li Ver un programa de TV 
								div.col 
									ul 
										li 98%
										li
										li 89%
										li
										li 86%
										li 84%
										li 82%
										li 77%
										li 74%
										li
										li
										li 73%
										li 61%
										li 56%
										li 53%
										li 36%
										li 14%
										