div.content-C_tecnologia
	ion-view(title="Características")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-bag
		ion-content.has-header
			.container.tecnologia
				div
					div
						h1.h1t TECNOLOGÍA
						p Parece que compran tecnología<br> al 2x1, en promedio tienen 2 <br>de los siguientes aparatos en casa.
						div.row
							div.col
								ul
									li
										img(src="./img/Imagen19.png")
									li
										img(src="./img/Imagen20.png")
									li
										img(src="./img/Imagen21.png")
									li
										img(src="./img/Imagen22.png")
									li
										img(src="./img/Imagen23.png")
									li
										img(src="./img/Imagen24.png")
							div.col-75
								ul
									li.u	Computadora Portátil
									li.d	Computadora de Escritorio
									li.t 
									li.c 	Tablet
									li.ci 	Pantalla de última <br>generación con internet
									li.s  	Pantalla plana de plasma<br> o LED
									li.si 	Televisión (no pantalla <br>plana)