.container.Caracteristicas.telefonia
	div
		div
			h1 TELEFONÍA CELULAR
			p.verde TODOS TIENEN SMARTPHONE
			div.row
				div.col
					img(src="")
				div.col.col-75
					p.verde LAS COMPAÑÍAS CON MAYORES<br> USUARIOS REPORTADOS SON:
					ul
						li 
							p Telcel
								span.verde (76%)
						li
							p Iusacel
								span.verde (12%)
						li
							p Nextel
								span.verde (6%)
						li
							p Movistar
								span.verde (5%)
				div
					img(src="")
					p Usos que le dan al celular 
					ul
						li Recibir o hacer llamdas
						li Usat mensajería instantánea<br> tipo (BB, messenger o whatsapp)
						li Revisar correo electrónico
						li Tomar fotos
						li Enviar mensajes SMS
						li Navegar en Internet
						li Consultar como llegar<br>a una dirección
						li Entrar en las redes sociales
						li Usar aplicaciones
						li Escuchar música
						li Tomar video
						li Jugar jueguitos
						li Ver un programa de TV 
					ul 
						li 98%
						li 89%
						li 86%
						li 84%
						li 82%
						li 77%
						li 74%
						li 73%
						li 61%
						li 56%
						li 53%
						li 36%
						li 14%
						