div.content-Caracteristicas
	ion-view(title="Características de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		ion-content.has-header
			.container.caracteristicas
				div.list
					a.item.item-icon-left(href="#/app/C_estado_civil")
						i.icon.ion-stats-bars
						| Estado Civil
					a.item.item-icon-left(href="#/app/C_demograficas")
						i.icon.ion-stats-bars
						| Demográficas
					a.item.item-icon-left(href="#/app/C_hogar")
						i.icon.ion-stats-bars
						| Hogar
					a.item.item-icon-left(href="#/app/C_ocupaciones")
						i.icon.ion-stats-bars
						| Ocupaciones
					a.item.item-icon-left(href="#/app/C_bancarios")
						i.icon.ion-stats-bars
						| Datos Bancarios