div.content-dlr_group
	ion-view(title="dlR group")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-happy
		ion-content.has-header
			.container.dlr_group
				div
					div
						img(src="./img/logo_dlr.png")
						p La presente obra es propiedad de dlR, por lo tanto, no podrá ser reproducida, comunicada, distribuida, copiada, utilizada, transmitida, vendida o comercializada en ningún modo sin la previa autorización escrita de dlR.<br><br> El usuario podrá usar los contenidos de esta aplicación únicamente para uso particular, siempre y cuando respete el uso de las marcas comerciales y propiedad intelectual que se incluyen.
						p.direccion Barranca del Muerto 348. Col. Guadalupe Inn. CP. 01620 México, D.F. Tel. 36401100
						p.www www.delarivagroup.com
						p.t
							button.button.button-icon.ion-social-twitter-outline 
							span @delarivagroup
						p.con Contacto: 
							span.name Ana Paola Bravo Cajal
						p.www abravo@delarivagroup.com





