div.content-Historias-vida
	ion-view(title="Historias de vida")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-ios7-heart
		ion-content.has-header
			.container.historias_vida
				div
					div
						h1.h1t HISTORIAS DE VIDA
						div.row
							div.col.col-50
								p
									span.rojo.porcentaje 25%
							div.col.col-50
								img.uno(src="./img/Imagen4.png" ng-click="abre(1)")
								button.button.button-icon.ion-plus-circled(ng-click="abre(1)")
						div.row#hv_cont1.none
							div.vc			
								ul
									li Su riqueza viene de varias generaciones atrás.
									li.bold Mitigan su FOMO a través de la discreción y sutileza en la demostración de la riqueza.
									li Culturalmente y socialmente refinados.
									li No les gusta llamar la atención y prefieren las marcas de siempre
							div.col.col-50.fix
								img.cuatro(src="./img/Imagen5.png")
							div.col.col-50.block.fixd
								ul 
									li Capitalizó su imagen, es una figura pública.
									li Prefiere lo de moda para mitigar su FOMO y mantenerse en el spotlight mediático. 
							div.col.col-50.fix
								img.tres(src="./img/Imagen6.png")
							div.col.col-50.block.fixd
								ul 
									li Socialmente le gusta llamar la atención.
									li Mitiga su FOMO a través de una amplia red de contactos que le permita accesar a otras esferas. 		
						div.none
							div.block
								div.row
									div.col
										img.chica(src="./img/Imagen5.png")
									div.col.col-75
										ul
											li Capitalizó su imagen, es una figura pública.
											li 
												span.bold Prefiere lo de moda para mitigar su FOMO y mantenerse en el 
												span.italic.bold spotlight 
												span.bold mediático.
								div.row
									div.col
										img.chica2(src="./img/Imagen6.png")
									div.col-75
										ul
											li Socialmente le gusta llamar la atención.
											li 
												span.bold Mitiga su FOMO a través de una amplia red de contactos que le permita accesar a otras esferas.
								div.d
						div.row
							div.col-50
								p
									span.azul.porcentaje 43%
							div.col-50
								img.dos(src="./img/Imagen7.png" ng-click="abre(2)")
								button.button.button-icon.ion-plus-circled(ng-click="abre(2)")
						div.none(id="hv_cont2")
							div.block
								ul
									li Su riqueza viene del trabajo y esfuerzo de años. Es directo en la demostración de la riqueza.
									li Culturalmente y socialmente hábiles.
									li 
										span.bold Mitigan su FOMO  a través de la demostración de su inteligencia y que están 
										span.italic.bold top of their game.
							div.d
						div.row
							div.col-50
								p
									span.azul.porcentaje 32%
							div.col-50
								img.dos(src="./img/Imagen8.png" ng-click="abre(3)")
								button.button.button-icon.ion-plus-circled(ng-click="abre(3)")
						div.none(id="hv_cont3")
							div.block
								ul
									li Su riqueza viene de la astucia, relaciones u otros eventos de pocos años atrás.
									li Les gusta demostrar su riqueza,
									li
										span.bold Socialmente, les gusta llamar la atención y para mitigar su FOMO se apoyan de logros y marcas de moda.
								img(src="./img/linea.png")

