div.content-Historias-vida
	ion-view(title="Niveles altos")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-ios7-heart
		ion-content.has-header
			.container.historias_vida
				div
					div
						h1.h1t HISTORIAS DE VIDA
						div.row
							div.col.col-50
								p
									span.rojo.porcentaje 25%
							div.col.col-50
								img.uno(src="./img/Imagen4.png")
						img.igual(src="./img/llave.png")
						div.row
							div.col
								img.chica(src="./img/Imagen5.png")
							div.col.col-75
								ul
									li Capitalizó su imagen,<br>es una figura pública.
									li 
										span.bold Prefiere lo de moda<br> para mitigar su FOMO<br> y mantenerse en el<br>
										span.italic.bold spotlight 
										span.bold mediático.
						div.row
							div.col-75
								ul
									li Socialmente le gusta<br> llamar la atención.
									li 
										span.bold Mitiga su FOMO a<br> través de una amplia<br> red de contactos que<br> le permita accesar a<br>otras esferas.
							div.col
								img.chica2(src="./img/Imagen6.png")
						ul
							li Su riqueza viene de varias generaciones<br> atrás.
							li 
								span.bold Mitigan su FOMO  a través de la discreción y sutileza en la demostración de su riqueza.
							li Culturalmente y socialmente refinados.
							li No les gusta llamar la atención y prefieren las marcas de siempre
						div.row
							div.col-50
								img.dos(src="./img/Imagen7.png")
							div.col-50
								p
									span.azul.porcentaje 43%
						ul
							li Su riqueza viene del trabajo y esfuerzo<br> de años. Es directo en la demostración<br> de la riqueza.
							li Culturalmente y socialmente hábiles.
							li 
								span.bold Mitigan su FOMO  a través de la<br> demostración de su inteligencia y que<br> están 
								span.italic.bold top of their game.
						div.row
							div.col-50
								img.dos(src="./img/Imagen8.png")
							div.col-50
								p
									span.azul.porcentaje 32%
						ul
							li Su riqueza viene de la astucia, relaciones u otros eventos<br> de pocos años atrás.
							li Les gusta demostrar su riqueza,
							li
								span.bold Socialmente, les gusta llamar la atención y para mitigar su<br>FOMO se apoyan de logros y marcas de moda.
					img(src="")



