header.bar.bar-header.bar-stable
	h1.title Niveles Altos
ion-content.has-header.content-Login
	form(ng-submit="doLogin()")
		div.list
			img.logo(src="./img/logo_dlr.png")
			label.item.item-input.item-stacked-label
				span.input-label Keycode
				input(type="password", ng-model="loginData.code")
			label.item
				button.button.button-block.button-positive(type="submit") Login