ion-side-menus
	ion-pane(ion-side-menu-content)
		ion-nav-bar.bar-stable.nav-title-slide-ios7
		ion-nav-view(name="menuContent" animation="slide-left-right")
	ion-side-menu(side="left")
		header.bar.bar-header.bar-stable
			h1.title Menú
		ion-content.has-header
			ion-list
				ion-item(nav-clear menu-close href="#/app/nse") NSE
				ion-item(nav-clear menu-close href="#/app/historias_vida") Historias de vida
				ion-item(nav-clear menu-close href="#/app/submenuCaracteristicas") Características de consumo
				ion-item(nav-clear menu-close href="#/app/actividades") Actividades
				ion-item(nav-clear menu-close href="#/app/secretos_guardados") Secretos guardados
				ion-item(nav-clear menu-close href="#/app/nuevo_lujo") Nuevo lujo
				ion-item(nav-clear menu-close href="#/app/nuevo_lujo_2") Termómetro Buy