div.content-NSE 
	ion-view(title="NSE")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		ion-content.has-header
			.container.NSE
				div
					div
						h1 ¿QUIÉN ES EL<br>
							span.bold NSE A/B?
						p.p
							span.bold A/B 
							|$98,500 <br>
							span.in.p_chiquita ó más ingreso familiar
						p.normal.bold 
							span.rojo 7% 
							| de la población mexicana
						img.igual(src="./img/llave.png")
						p.filtro 
							span.bold 2 FILTROS<br>
							span.italic AMAI+DLR
						img.igual(src="./img/igual.png")
						p.verdadero.center Nos codeamos con <br>el verdadero A/B
					div
						ul 
							li.sueldo.bold 
								|C+
								span.espacio $40,600-$98,499
							li.sueldo.bold 
								|CT 
								span.espacio $13,500-$40,599	
							li.li.center.bold 
								span.rojo 31% 
								|de la población mexicana
							li.sueldo.bold 
								|C-
								span.espacio $10,690-$13,499
							li.sueldo.bold 
								|D+
								span.espacio $7,800-$10,689
							li.sueldo.bold 
								|D
								span.espacio $3,130-$7,779
							li.sueldo.bold 
								|E
								span.espacio $0-$3,129
							li.li.center.bold 
								span.rojo 61% 
								|de la población mexicana
					div
						img.piramide(src="./img/Imagen1.png")
						h2 OBJETIVO
						p.texto Entender el concepto de lujo y el papel que interpretan las marcas en el estilo de vida del nivel socioeconómico más alto del país. Encontrar códigos y valores apropiables:<br> Para las marcas que quieren entrar al mundo de los ricos.<br> Para las marcas que ya viven ahí.
						h2.sub Segunda ola
						p.texto.dos Nuestro primer contacto con el segmento<br>fue en 2009, tenemos un conocimiento<br>social profundo del NSE A/B.
						h2 METODOLOGÍA Y MUESTRA
						p.texto.dos 
							|para conocer al verdadero 
							span.bold NSE A/B<br> 
							|hay que entrar por varias puertas y<br>mirar por distintas ventanas. 
						div.line
						h3 INTEGRAMOS 
							span.bold 3 METODOLOGÍAS <br>
							|CORREGIDAS Y AUMENTADAS.
					div.border
						p.texto.dos Muestra:
							span.bold Hombres 
							|y <br>
							span.bold mujeres 
							|entre
							span.bold 18 
							|y 
							span.bold 65 
							|años<br>en 
							span.bold DF,GDL y MTY; 
							|y <br>entrevistaremos a expertos<br> en el mercado de lujo.
					div.border
						img.puertas(src="./img/puertas.png")