div.content-nuevo_lujo_2
	ion-view(title="Termómetro buy")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-thermometer
		ion-content.has-header
			.container.nuevo_lujo_2
				div
					div
						h1.h1t TERMÓMETRO DEL NUEVO LUJO
						div.row
							div.col-50
								button TERMÓMETRO<br>BUY
							div.col-50
								button TERMÓMETRO<br>BUY INTO
						h4 TERMÓMETRO BUY
						p.italic Ubica los atributos de la arquitectura de la marca que hay que fortalecer, mantener o afinar.
						p.p ATRIBUTOS BUY
						p.li
							span.bold ARTESANÍA<br>
							|El producto de mi marca es único por la intervención humana, desde su concepción hasta su ejecución.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p.li
							span.bold ENFOQUE<br>
							|El producto de mi marca es líder o categoría por ser o tener una oferta única.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p.li
							span.bold HISTORIA<br>
							|El producto de mi marca se ha convertido en ícono, su gran valor diferencial es la reputación. Combina preservación con innovación.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p.li
							span.bold RAREZA<br>
							|El producto de mi marca es único por su individualización y personalización, solo unos cuantos acceden a él.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p.li.lis 
							span.bold PROMEDIO: 
							|Suma los puntos y divídelos entre 4.
						p.bold.lis TOTAL ________________________.
						div
							p.gris
								span.amarillo 3,4 o más 
								|Nuevo lujo
							p.gris
								span.amarillo 2 
								|Afinar para <br> ser nuevo lujo
							p.gris
								span.amarillo 2 o menos 
								|Replantear<br> para ser<br>nuevo lujo 


