div.content-nuevo_lujo_3
	ion-view(title="nuevo_lujo_3")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.nuevo_lujo_3
				div
					div
						h1 TERMÓMETRO BUY INTO 
						p.italic Ubica los atributos de la <br>arquitectura de la marca que<br> hay que fortalecer, mantener o<br>afinar.
						p ATRIBUTOS BUY INTO 
						p
							span.bold TOUGH & ROUGH<br>
							|Mi marca convierte al cliente en un explorador fuera<br>de su burbuja socioeconómica tradicional, tanto a<br>nivel objetual como.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p
							span.bold TIEMPO<br>
							|	Mi marca rompe la rutina, prioriza el tiempo libre y<br>propone nuevos momentos de disfrute.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p
							span.bold ESPECIALIZACIÓN<br>
							|Mi marca convierte al cliente en un experto refinado<br>en una categoría. Es una herramienta para<br>profundizar en conocimiento.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p
							span.bold SOLUCIÓN<br>
							|Mi marca es una solución sorpresiva para el cliente.<br>Conjugara su individualidad con el<br>crear o recrear una oferta o experiencia única.
						<input value="1" type="radio" name="g1"> 1
						<input value="2" type="radio" name="g1"> 2
						<input value="3" type="radio" name="g1"> 3
						<input value="4" type="radio" name="g1"> 4
						p 
							span.bold PROMEDIO: 
							|Suma los puntos y dividelos entre 4.
						p.bold TOTAL ________________________.
						div
							p
								span.amarillo 3.4 ó más 
								|Nuevo lujo
							p
								span.amarillo 2 
								|Afinar para <br> ser nuevo lujo
							p
								span.amarillo 2 ó menos 
								|Replantear<br> para ser<br>nuevo lujo 


