div.content-nuevo_lujo
	ion-view(title="Nuevo lujo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-cash
		ion-content.has-header
			.container.nuevo_lujo
				div
					div
						h1.h1t.ellos Para ellos,<br>
							span.bold EL NUEVO LUJO ES...
						p.azul.italic.bold 1.- HORIZONTALIDAD
						div
							img(src="./img/Imagen32.png")
							p 
								span.italic.bold Ejemplo:<br>"Nosotros los pobres"<br>
								| La diferencia entre<br> grupos sociales está<br> marcada. El NSE A/B<br> hace sentir menos al<br> otro. 
							img(src="./img/Imagen33.png")
							p 
								span.italic.bold Ejemplo:<br>"Amarte Duele"<br>
								|La brecha entre grupos<br> sociales se acorta,<br> aunque se generan<br> relaciones, todos tienen<br> claro su lugar.
							img(src="./img/Imagen34.png")
							p 
								span.italic.bold Ejemplo:<br> "Nosotros los Nobles"<br>
								|Aunque cada quién<br> conoce su posición, existe<br> una interacción como pares.
						p.bo Es silenciosa <br>
							span.bold 	Y TEMPORAL
						ul
							li CEO FACHOSO
							li USAR AUTOS "NORMALES"
							li IR AL TIANGUIS
							li COMER TACOS EN EL BORREGO VIUDO
						p.azul.italic.bold 2.- Vivir y acumular<br> experciencias
						div
							p.fondo DOWNGRADING
							p Romper con los estándares<br> predeterminados y adoptar<br> códigos de otros niveles. 
							ul
								li Lucha libre
								li Comer en el tianguis
								li Homeless en NY
							p.fondo EXPERTISE
							p Llevar un gusto o un hobbie a<br>su máxima expresión.
							ul
								li Bañar a los bebés
								li Cata de vinos
								li Moto-trip en los Andes
							img.i(src="./img/circle-.png")
							img.i(src="./img/llaves.png")
							div.row
								div.col 
									img(src="./img/medalla.png")
								div.col-75
									p Se tangibilizan en objetos que <br> se conviernten en símbolos de<br>logro.
						p.azul.italic.bold 3.- Solución
						div
							p.back Servicio
								span.bold BÁSICO
							p.serv El servicio es tan automático que todo<br> se resuelve "por arte de magia".
							p.gris.serv "¡Buena pregunta! Mi mamá no cocina, yo creo<br>que la señora que nos ayuda... cuando yo llego<br>de la escuela ya está la comida." 
							ul 
								li Servicio doméstico
								li Vendedores
								li Meseros
								li Baristas, etc.
							p.back Servicio
								span.bold PERSONALIZADO
							p.serv El servicio es tan profundo que se recrea<br> una experiencia única e inflalible.
							p.gris.serv "Yo voy con ellas, contestan un cuestionario<br> de belleza... vamos a la tienda, les doy<br> opciones de productos y sus precios, ellas <br>eligen lo que mejor les acomode."-Experta<br>Personal Shopper.
							ul
								li Personal Shoppers
								li Conciegres
								li Asistentes
								li Decoradores, arquitectos, etc.
