div.content-boy 
	ion-view(title="Niveles Altos")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-content.has-header
			.container.boy
				div 
					div
						h1 <br>
						a(href="")
						img(src="./img/boy.png")
						div
							ul
								a(href="#/app/nse")
									li.ns NSE<br>
										span (ver más.)
								a(href="#/app/historias_vida")
									li.h Historias<br>de vida<br>
										span (ver más.)
								a(href="#/app/actividades")
									li.a Actividades<br>
										span (ver más.)
								a(href="#/app/submenuCaracteristicas")
									li.c Características <br>de consumo<br>
										span (ver más.)
								a(href="#/app/nuevo_lujo")
									li.n Nuevo <br>lujo<br>
										span (ver más.)
								a(href="#/app/secretos_guardados")
									li.s Secretos<br>
										span (ver más.)