.container.boy
	div 
		div
			a(href="")
			h1 Niveles Altos
		div
			ul
				li NSE
				li Historias de vida
				li Actividades
				li Características de consumo
				li Nuevo lujo
				li Secretos
			img(src="")