div.content-boy 
	ion-view(title="Niveles Altos")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-content.has-header
			.container.boy
				img(src="./img/boy.png")
				ul
					li.ns 
						a(href="#/app/nse")
							| NSE<br>
							span (ver más)
					li.h 
						a(href="#/app/historias_vida")
							| Historias<br>de vida<br>
							span (ver más)
					li.a 
						a(href="#/app/actividades")
							| Actividades<br>
							span (ver más)
					li.c 
						a(href="#/app/caracteristicas")
							| Características <br>de consumo<br>
							span (ver más)
					li.s 
						a(href="#/app/secretos_guardados")
							| Secretos<br>
							span (ver más)
					li.t 
						a(href="#/app/termometro")
							| Termómetro <br>buy<br>
							span (ver más)
					li.i 
						a(href="#/app/termometro_into")
							| Termómetro <br>buy into<br>
							span (ver más)