div.content-carga 
	ion-view(title="carga")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		ion-content.has-header
			.container.carga
				img(src="./img/carga.png")