<div class="content-secreto_5"><ion-view title="Secretos guardados"><ion-nav-buttons side="left"><button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-left"></button></ion-nav-buttons><ion-nav-buttons side="right"><button class="button button-icon icon ion-unlocked"></button></ion-nav-buttons><ion-content class="has-header"><div class="container secreto_5"><div><div><h1 class="h1t azul italic bold">Secreto #5</h1><p class="bold">NO TODAS LAS MARCAS<br>ENCAJAN EN SU MUNDO</p><div class="row"><div class="col-50"><img src="./img/1.png" class="marca top"/><img src="./img/2.png" class="marca"/><img src="./img/3.png" class="marca"/><img src="./img/4.png" class="marca"/><img src="./img/5.png" class="marca"/></div><div class="col-50 adn"><p>Marcas ADN</p><img src="./img/Imagen40.png"/></div></div><div class="img"><p>Básicos y lujos</p><img src="./img/Imagen41.png"/></div><!--	ul
	li PREMIUM
	li MORE THAN ENOUGH
	li CAMALEÓN
	li GOOD ENOUGH
	li COMMODITY
ul 
	li 
		img(src="./img/")
	li 
		img(src="./img/")
	li 
		img(src="./img/")
	li 
		img(src="./img/")
	li 
		img(src="./img/")--></div></div></div></ion-content></ion-view></div>