div.content-secretos_guardados
	ion-view(title="Submenú")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		ion-content.has-header
			ion-list
				ion-item(nav-clear menu-close href="#/app")
				ion-item(nav-clear menu-close href="#/app/secreto_1") Secreto #1
				ion-item(nav-clear menu-close href="#/app/secreto_2") Secreto #2
				ion-item(nav-clear menu-close href="#/app/secreto_3") Secreto #3
				ion-item(nav-clear menu-close href="#/app/secreto_4") Secreto #4
				ion-item(nav-clear menu-close href="#/app/secreto_5") Secreto #5