div.content-C_secreto_4
	ion-view(title="C. secreto_4")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.secreto_4
				div
					div
						h1.azul.italic Secreto #4:
						p.bold AMAN TARGET
						img(src="./img/")
						div
							p Experierncia de actualización<br>y exploración
							img(src="./img/")
							p.bold TINTES DE NUEVO LUJO
							p Downgrading y<br>horizontalidad
							p.gris "Les encanta ir a jugar a ser personas<br>normales, que nadie sepa quiénes son."-<br>Experta Institutriz
							p En México, faltan<br> experiencias de compra
							img(src="./img/")
							p 8 de cada 10 viajó en el último<br> año para comprar
