div.content-secreto_2
	ion-view(title="secreto_2")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.secreto_2
				div
					div
						h1.azul.italic.bold Secreto #2:
						p.bold MY MAID IS MY BBF
						div
							h4 FACT
							div
								p.gris Somos un país que<br> se define a partir de<br> relaciones précticas<br> y psicológicas que<br> tenemos como<br> grupo social.
								img(src="./img/")
								p El NSE A/B y la<br> Base de la <br>pirámide 
									span.azul son los<br> más colectivos.
								h4 BUSCAN<br> ALIADOS
								h2.italic Lealtad
								ul 
									li Inmunidad
									li Tiempo extra
									li Apoyo emocional
								h2.italic Potección
								ul
									li Apoyo económico
									li Satisfacción de necesidades
									li Regalos
									li Trabajo cómodo y seguro
								img(src="./img/")
								p Acortan la distancia entre<br> jefe y empleado: en<br> promedio 
									span.gris.bold tienen 3<br> empleados en el hogar 
								img(src="./img/")