div.content-C_secreto_1
	ion-view(title="C. secreto_1")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.secreto_1
				div
					div
						h1.azul.italic Secreto #1:
						p.bold TIENEN MIEDO
						p ... DE PASAR DESAPERCIBIDOS
						div
							p.title Estrategias contra la <br>
								span OBSOLESCENCIA
							img(src="./img/")
							p La 
								span.azul visión 
								|como valor, los<br> legitima como trendsetters<br> en consumo.
							p El
								span.azul 43%
								|dice estar al tanto<br> de nuesvas tendencias <br>para diferenciarse.
							img(src="./img/")
							p La 
								span.azul vida social
								| mantiene la <br>cohesión del grupo: es <br>tarea y obligación.
							p Al 
								span.azul 50%
								|le gusta que sus<br> amigos noten su presencia <br> en un evento social.
							img(src="./img/")
							p Modulan la aplicación del <br>
								span.azul poder
								| y la demostración<br> de su
								span.azul riqueza.
							p El 
								span.azul 50%
								|tiene una empresa<br> o negocio propio.


