div.content-secreto_5
	ion-view(title="Secretos Mejor Guardados")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-left(ng-click="goBack()")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-unlocked
		ion-content.has-header
			.container.secreto_5
				div
					div
						h1.h1t.azul.italic.bold Secreto #5
						p.bold NO TODAS LAS MARCAS<br>ENCAJAN EN SU MUNDO
						div.row
							div.col-50
								img.marca.top(src="./img/1.png")
								img.marca(src="./img/2.png")
								img.marca(src="./img/3.png")
								img.marca(src="./img/4.png")
								img.marca(src="./img/5.png")
							div.col-50.adn
								p Marcas ADN
								img(src="./img/Imagen40.png")
						div.img
							p Básicos y lujos
							img(src="./img/Imagen41.png")
						//	
							ul
								li PREMIUM
								li MORE THAN ENOUGH
								li CAMALEÓN
								li GOOD ENOUGH
								li COMMODITY
							ul 
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
