div.content-C_secreto_5
	ion-view(title="C. secreto_5")
		ion-nav-buttons(side="left")
			button.button.button-icon-navicon(menu-toggle="left")
		ion-content.has-header
			.container.secreto_5
				div
					div
						h1.azul.italic Secreto #4:
						p.bold NO TODAS LAS MARCAS<br>ENCAJAN EN SU MUNDO
						div.row
							div.col-50
								img(src="./img/")
								img(src="./img/")
								img(src="./img/")
								img(src="./img/")
								img(src="./img/")
							div.col-50
								p Mares ADN
								img(src="./img/")
						div.img
							img(src="./img/")
							ul
								li PREMIUM
								li MORE THAN ENOUGH
								li CAMALEÓN
								li GOOD ENOUGH
								li COMMODITY
							ul 
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
								li 
									img(src="./img/")
