div.content-secretos_guardados
	ion-view(title="Secretos guardados")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-locked
		ion-content.has-header
			.list 
				a.item.item-icon-right(href="#/app/secreto_1")
					button.button.button-icon.icon.ion-ios7-locked
					|Secreto #1
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/secreto_2")
					button.button.button-icon.icon.ion-ios7-locked
					|Secreto #2
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/secreto_3")
					button.button.button-icon.icon.ion-ios7-locked
					|Secreto #3
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/secreto_4")
					button.button.button-icon.icon.ion-ios7-locked
					|Secreto #4
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/secreto_5")
					button.button.button-icon.icon.ion-ios7-locked
					|Secreto #5
					i.icon.ion-ios7-arrow-right
