div.content-secreto_2
	ion-view(title="Secretos guardados")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-thin-left(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-unlocked
		ion-content.has-header
			.container.secreto_2
				div
					div
						h1.h1t.azul.italic.bold Secreto #2
						p.bold MY MAID IS MY BBF
						div
							h4 FACT
							div
								p.gris Somos un país que<br> se define a partir de<br> relaciones prácticas<br> y psicológicas que<br> tenemos como<br> grupo social.
								img(src="./img/hoja.png")
								p.gris El NSE A/B y la<br> Base de la <br>pirámide 
									span.azul.bold son los<br> más colectivos.
								h4 BUSCAN<br> ALIADOS
								h2.italic Lealtad
								ul.gris 
									li Inmunidad
									li Tiempo extra
									li Apoyo emocional
								h2.italic Potección
								ul.gris
									li Apoyo económico
									li Satisfacción de necesidades
									li Regalos
									li Trabajo cómodo y seguro
								img(src="./img/piramide-1.png")
								p.ce Acortan la distancia entre<br> jefe y empleado: en<br> promedio 
									span.gris.bold tienen 3<br> empleados en el hogar 
								img.img(src="./img/img.png")