div.content-secreto_4
	ion-view(title="Secretos guardados")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-arrow-thin-left(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-unlocked
		ion-content.has-header
			.container.secreto_4
				div
					div
						h1.h1t.azul.italic.bold Secreto #4
						p.bold AMAN TARGET
						img.uno(src="./img/Imagen37.png")
						div
							p Experierncia de actualización<br>y exploración
							img.dos(src="./img/Imagen38.png")
							p.bold TINTES DE NUEVO LUJO
							p 
								span.italic Downgrading 
								|y<br>horizontalidad
							p.gris.italic "Les encanta ir a jugar a ser personas<br>normales, que nadie sepa quiénes son."<br>Experta institutriz
							p.mex En México, faltan<br> experiencias de compra
							img.tres(src="./img/Imagen39.png")
							p.black 8 de cada 10 viajó en el último<br> año para comprar
