.container.submenuCaracteristicas
	div
		div
			h1 Características de consumo
		ul
			li Estado civil y educación
			li Demogáficos y educación
			li Hogar
			li Principales ocupacioes
			li Servicios bancarios
			li Consumo en medios
			li Internet y redes sociales
			li Telefonía celular
			li Tecnología