div.content-submenuCaracteristicas
	ion-view(title="Características de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-content.has-header
			.list
				a.item.item-icon-right(href="#/app/C_estado_civil")
					|Estado civil y educación
					button.button.button-icon.icon.ion-university
					i.icon.ion-ios7-arrow-right
				//a.item.item-icon-right(href="#/app/C_demograficas")
					|Demográficas y educación
					button.button.button-icon.icon.ion-ios7-people
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_hogar")
					button.button.button-icon.icon.ion-home
					|Hogar
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_ocupaciones")
					button.button.button-icon.icon.ion-folder
					|Principales ocupaciones
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_bancarios")
					button.button.button-icon.icon.ion-card
					|Servicios bancarios
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_medios")
					button.button.button-icon.icon.ion-monitor
					|Medios
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_internet")
					button.button.button-icon.icon.ion-wifi
					|Internet y redes sociales
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_telefonia")
					button.button.button-icon.icon.ion-iphone
					|Telefonía celular
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_tecnologia")
					button.button.button-icon.icon.ion-code-working
					|Tecnología
					i.icon.ion-ios7-arrow-right		