div.content-submenuCaracteristicas
	ion-view(title="Características de consumo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-content.has-header
			.list
				a.item.item-icon-right(href="#/app/C_estado_civil")
					|Estado civil y educación
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_demograficas")
					|Demográficas y educación
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_hogar")
					|Hogar
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_ocupaciones")
					|Principales ocupaciones
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_bancarios")
					|Servicios bancarios
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_medios")
					|Consumo de medios
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_internet")
					|Internet y redes sociales
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_telefonia")
					|Telefonía celular
					i.icon.ion-ios7-arrow-right
				a.item.item-icon-right(href="#/app/C_tecnologia")
					|Tecnología
					i.icon.ion-ios7-arrow-right		