div.content-nuevo_lujo_2
	ion-view(title="Termómetro del nuevo lujo")
		ion-nav-buttons(side="left")
			button.button.button-icon.icon.ion-ios7-drag(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-icon.icon.ion-thermometer
		ion-content.has-header
			.container.nuevo_lujo_2
				div
					div
						h1.h1t TERMÓMETRO DEL NUEVO LUJO
						div.row
							div.col-50
								button(ng-click="gotoBuy()") TERMÓMETRO<br>BUY
							div.col-50
								button(ng-click="gotoBuyInto()") TERMÓMETRO<br>BUY INTO
						h4 TERMÓMETRO BUY
						p.italic Ubica los atributos de la arquitectura de la marca que hay que fortalecer, mantener o afinar.
						p.p ATRIBUTOS BUY
						p.li
							span.bold ARTESANÍA<br>
							|El producto de mi marca es único por la intervención humana, desde su concepción hasta su ejecución.
							p
								input(value="1",type="radio",name="g1",ng-model="data.artesania")
								| 1
								input(value="2",type="radio",name="g1",ng-model="data.artesania")
								| 2
								input(value="3",type="radio",name="g1",ng-model="data.artesania")
								| 3
								input(value="4",type="radio",name="g1",ng-model="data.artesania")
								| 4
						p.li
							span.bold ENFOQUE<br>
							|El producto de mi marca es líder o 
							span.italic puller 
							|de la categoría por ser o tener una oferta única.
							p
								input(value="1",type="radio",name="g2",ng-model="data.enfoque")
								| 1
								input(value="2",type="radio",name="g2",ng-model="data.enfoque")
								| 2
								input(value="3",type="radio",name="g2",ng-model="data.enfoque")
								| 3
								input(value="4",type="radio",name="g2",ng-model="data.enfoque")
								| 4
						p.li
							span.bold HISTORIA<br>
							|El producto de mi marca se ha convertido en ícono, su gran valor diferencial es la reputación. Combina preservación con innovación.
							p
								input(value="1",type="radio",name="g3",ng-model="data.historia")
								| 1
								input(value="2",type="radio",name="g3",ng-model="data.historia")
								| 2
								input(value="3",type="radio",name="g3",ng-model="data.historia")
								| 3
								input(value="4",type="radio",name="g3",ng-model="data.historia")
								| 4
						p.li
							span.bold RAREZA<br>
							|El producto de mi marca es único por su individualización y personalización, sólo unos cuantos acceden a él.
							p
								input(value="1",type="radio",name="g4",ng-model="data.rareza")
								| 1
								input(value="2",type="radio",name="g4",ng-model="data.rareza")
								| 2
								input(value="3",type="radio",name="g4",ng-model="data.rareza")
								| 3
								input(value="4",type="radio",name="g4",ng-model="data.rareza")
								| 4
						p.li.lis.gris 
							span.bold PROMEDIO: 
							|Puntos sumados y divididos entre 4.
						div.total
							p.bold.lis.t TOTAL {{ total }}.
							button.button.button-icon.icon.ion-checkmark-circled
						div
							p.gris
								span.amarillo 3.4 a 4 
								| Nuevo lujo
							p.gris
								span.amarillo 2 a 3.39  
								| Afinar para <br> ser nuevo lujo
							p.gris
								span.amarillo 1 a 1.99 
								| Replantear<br> para ser nuevo lujo 


